@page "/MathMain"

<head>
    <link  rel="stylesheet" href="../css/buisness_math_style.css"/>
</head>

<div class="math_menu_container">
    <div class="math_menu">

        <div class="title_container">
            <h1>Buisness Mathematics</h1>

            <div class="underline_container">
                <div class="underline"></div>
            </div>
        </div>

        <div class="links_container">

            <div class="link_box">
                <NavLink href="Correlation">
                    Correlation
                </NavLink>
            </div>

            <div class="link_box">
                <NavLink href="Interest">
                    Interest
                </NavLink>
            </div>

            <div class="link_box">
                <NavLink href="Mean">
                    Mean
                </NavLink>
            </div>

            <div class="link_box">
                <NavLink href="Median">
                    Median
                </NavLink>
            </div>

            <div class="link_box">
                <NavLink href="Mode">
                    Mode
                </NavLink>
            </div>

            <div class="link_box">
                <NavLink href="StandardDeviation">
                    Standard Deviation
                </NavLink>
            </div>

        </div>
    </div>
</div>

@code {

}
