.page {
    background-image: url(../images/BackgroundAbout.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top_row {
    display: none
}


#about{
    position:relative;
    top: 0;
    width:100%;
    height:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

#about .about_container{
    width:100%;
    max-width:900px;
    height:700px;
    background: #2f62ae;
    box-shadow:  14px 14px 22px #0a1626;
             
}

#about .title_container{
    text-align:center;
}
#about h3{
    font-size: 3.5rem;
    letter-spacing:6px;
    font-weight:900;
    margin-bottom:1em;
    color: #081a33;
}

#about .about_info_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:700px;
    width:900px;
}

#about .about_txt{
    padding:1em 2em;
    color:  #081a33;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

#about .about_txt_container{
    padding:0.5em;
}

#about p{
    font-size:1.5rem;
    letter-spacing: 3px;
}

#about .about_info{
    width:100%;
}

#about .img{
    width:100%;
    height:100%;
}

#about .img_container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}