
h4 {
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

.component{
    display:flex;
    justify-content:center;
    width:100%;
    padding:3em 0;
}

.bold{
    font-weight:800;
}

.component .component_container{
    width: 100%;
    max-width: 1100px;
    display:grid;
    grid-template-columns: 650px 450px;
}

.component_panel{
    display:flex;
    justify-content:center;
    width:100%;
    height:490px;
}

.component_panel .component_panel_container{
    border: 4px solid #28437a;
    border-radius: 0.5em;
    width:100%;
    max-width: 600px;
    height: 100%;
}

.component_panel .title{
    text-align:center;
    padding: 1em 0;
    background-color: #28437a;
    color: #f0f4fc;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.component_panel h1{
    font-size: 1.8rem;
}

.component_panel .description{
    padding: 1em 1.5em;
}

.component_panel .choice_check_boxes{
    padding: 0.5em 0;
    width:100%;
    display: flex;
    justify-content:space-around;
}

.component_panel h4{
    text-align:center;
    padding: 0.5em 0;
    background-color: #28437a;
    color: #f0f4fc;
}

.component_panel .input_container{
    padding: 0.5em 1.5em;
}

.component_panel label{
    display:block;
    text-align:center;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 5px;
}

.component_panel input{
    border: 2px solid #28437a;
    width: 100%;
    text-align:center;
}

.component_panel .button_container{
    padding: 0.5em 1.5em;
    text-align: center;
}

.component_panel .button_container button{
    border: 2px solid #28437a;
    color: #28437a;
    background-color: unset;
    padding:0.3em;
    font-weight:900;
    transition: 0.5s;
}

.component_panel .button_container button:hover{
    background-color: #28437a;
    color:#f0f4fc;
}

.component_panel .console{
    background-color: rgba(40, 67, 122, 0.40);
    overflow-y: scroll;
    height: 168px;
}

.component_panel .console::-webkit-scrollbar {
    width: 0.5em;
}

.component_panel .console::-webkit-scrollbar-track {
    background-color: #28437a;
}

.component_panel .console::-webkit-scrollbar-thumb {
    background-color: black;
}

.component_panel .console_container{
    padding: 0.5em 1.5em;
}

.component_panel .color_scheme_option{
    cursor: pointer;
    border-radius: 1.5em;
    transition: 0.5s;
}

.component_panel .color_scheme_option:hover{
    background-color: rgba(40, 67, 122, 0.50);
}

button:focus{
    outline:unset;
}


[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

[type="radio"] + div {
    cursor: pointer;
}

[type="radio"]:checked + div {
    outline: 1px solid white;
    border-radius: 1.5em;
    padding: 0.3em;
    color: white;
}


[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

    [type="radio"] + img {
        cursor: pointer;
    }

    [type="radio"]:checked + img {
        outline: 2px solid white;
    }


.acordeon{
    width:100%;
    display:flex;
    justify-content:center;
}

.acordeon .acordeon_container{
    width:100%;
    max-width: 550px;
}

.acordeon .acordeon_title{
    display:grid;
    grid-template-columns: auto 50px;
    padding: 0.5em 0.1em;
}

.acordeon .acordeon_title h4{
    font-weight: 600;
    letter-spacing: 4px;
}

.acordeon .name_container{
    padding-left: 0.5em;
    display:flex;
    align-content:center;
    align-items:center;
}

.acordeon .button_container{
    padding-right: 0.5em;
    text-align:right;
}

.acordeon .button_container button{
    background-color: unset;
    border-radius: 3em;
    width:40px;
    height:40px;
    font-size:1.3rem;
    font-weight: 900;
    transition: 0.5s;
}

.acordeon .button_container button:hover{
    background-color: white;
    color: rgba(40,67,122,1);
}

.acordeon .information_container{
    padding: 0.5em 0.3em;
}

/*Color Schemes*/

/*Scheme 1*/
#Scheme_1 .acordeon .acordeon_title {
    background-color: rgba(40,67,122,1);
    color: white;
}

#Scheme_1 .acordeon .information {
    border-right: 1px solid rgba(40,67,122,1);
    border-left: 1px solid rgba(40,67,122,1);
    border-bottom: 1px solid rgba(40,67,122,1);
}

#Scheme_1 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_1 .acordeon .button_container button:hover {
    background-color: white;
    color: rgba(40,67,122,1);
}
/*End of scheme 1*/



/*Scheme 2 style*/
#Scheme_2 .acordeon .acordeon_title {
    background-color: rgba(138,43,148,1);
    color: white;
}

#Scheme_2 .acordeon .information {
    border-right: 1px solid rgba(138,43,148,1);
    border-left: 1px solid rgba(138,43,148,1);
    border-bottom: 1px solid rgba(138,43,148,1);
}

#Scheme_2 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_2 .acordeon .button_container button:hover {
    background-color: white;
    color: rgba(138,43,148,1);
}

/*End of scheme 2*/

/*Scheme 3 style*/
#Scheme_3 .acordeon .acordeon_title {
    background-color: rgba(42,43,46,1);
    color: white;
}

#Scheme_3 .acordeon .information {
    border-right: 1px solid rgba(42,43,46,1);
    border-left: 1px solid rgba(42,43,46,1);
    border-bottom: 1px solid rgba(42,43,46,1);
}

#Scheme_3 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_3 .acordeon .button_container button:hover {
    background-color: white;
    color: rgba(42,43,46,1);
}

/*End of scheme 3*/

/*Scheme 4 style*/
#Scheme_4 .acordeon .acordeon_title {
    background-color: unset;
    color: rgba(42,43,46,1);
    border: 1px solid rgba(42,43,46,1);
}

#Scheme_4 .acordeon .information {
    border-right: 1px solid rgba(42,43,46,1);
    border-left: 1px solid rgba(42,43,46,1);
    border-bottom: 1px solid rgba(42,43,46,1);
}

#Scheme_4 .acordeon .button_container button {
    color: rgba(42,43,46,1);
    border: 3px solid rgba(42,43,46,1);
}

#Scheme_4 .acordeon .button_container button:hover {
    background-color: rgba(42,43,46,1);
    color: white;
}
/*End of scheme 2*/

/*Scheme 5 style*/
#Scheme_5 .acordeon .acordeon_title {
    background-color: rgb(35, 131, 96);
    color: white;
}

#Scheme_5 .acordeon .information {
    border-right: 1px solid rgb(35, 131, 96);
    border-left: 1px solid rgb(35, 131, 96);
    border-bottom: 1px solid rgb(35, 131, 96);
}

#Scheme_5 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_5 .acordeon .button_container button:hover {
    background-color: white;
    color: rgb(35, 131, 96);
}
/*End of scheme 5*/

/*Scheme 6 style*/
#Scheme_6 .acordeon .acordeon_title {
    background-color: rgb(163, 56, 71);
    color: white;
}

#Scheme_6 .acordeon .information {
    border-right: 1px solid rgb(163, 56, 71);
    border-left: 1px solid rgb(163, 56, 71);
    border-bottom: 1px solid rgb(163, 56, 71);
}

#Scheme_6 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_6 .acordeon .button_container button:hover {
    background-color: white;
    color: rgb(163, 56, 71);
}
/*End of scheme 6*/

/*Scheme 7 style*/
#Scheme_7 .acordeon .acordeon_title {
    background-color: rgb(112,108,55);
    color: white;
}

#Scheme_7 .acordeon .information {
    border-right: 1px solid rgb(112,108,55);
    border-left: 1px solid rgb(112,108,55);
    border-bottom: 1px solid rgb(112,108,55);
}

#Scheme_7 .acordeon .button_container button {
    color: white;
    border: 3px solid white;
}

#Scheme_7 .acordeon .button_container button:hover {
    background-color: white;
    color: rgb(112,108,55);
}
/*End of scheme 7*/

/*End of schemes*/


