p{
    margin:0;
    padding:0;
}

.top_row a{
    display:none;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}


.sidebar_logo{
    text-align:center;
    padding:1em 0 2em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
}

.sidebar_logo a{
    fill:#f8f8f8;
    transition:0.5s fill, 0.5s transform;

  
}

.sidebar_logo a:hover{
    fill:#ffffff;
    transform: translateY(-3px);
}

.sidebar_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
}

.sidebar_navigation .side_navlink_box a{
    background-color:rgba(255, 255, 255, 0.90);
    display:block;
    color:black;
    padding:1.5em 1em;
    width: 150px;
    margin:1.5em 0;
    border-radius: 0.5em;
    color:black;
    font-weight:600;

    transition:0.5s transform, 0.5s background-color;

}

.sidebar_navigation .side_navlink_box a:hover{
    transform: translateY(-3px);
    background-color:rgba(255, 255, 255, 1);
}

.time{
    padding-top:1em;
    text-align:center;
}