
h4 {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(15, 25, 46);
}

p{
    margin: 0;
    padding: 0;
}

.component {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3em 0;
}

.bold{
    font-weight:800;
}

.component .component_container{
    width: 100%;
    max-width: 1500px;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
}

.component_panel{
    display:flex;
    justify-content:center;
    width:100%;
    height:490px;
}

.component_panel .component_panel_container{
    border: 4px solid #28437a;
    border-radius: 0.5em;
    width:100%;
    max-width: 600px;
    background-color: white;
    height: 100%;
}

.component_panel .title{
    text-align:center;
    padding: 1em 0;
    background-color: #28437a;
    color: #f0f4fc;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.component_panel h1{
    font-size: 1.8rem;
}

.component_panel .description{
    padding: 1em 1.5em;
}

.component_panel .choice_check_boxes{
    padding: 0.5em 0;
    width:100%;
    display: flex;
    justify-content:space-around;
}

.component_panel h4{
    text-align:center;
    padding: 0.5em 0;
    background-color: #28437a;
    color: #f0f4fc;
}

.component_panel .input_container{
    padding: 0.5em 1.5em;
}

.component_panel label{
    display:block;
    text-align:center;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 5px;
}

.component_panel input{
    border: 2px solid #28437a;
    width: 100%;
    text-align:center;
}

.component_panel .button_container{
    padding: 0.5em 1.5em;
    text-align: center;
}

.component_panel .button_container button{
    border: 2px solid #28437a;
    color: #28437a;
    background-color: unset;
    padding:0.3em;
    font-weight:900;
    transition: 0.5s;
}

.component_panel .button_container button:hover{
    background-color: #28437a;
    color:#f0f4fc;
}

.component_panel .console{
    background-color: rgba(40, 67, 122, 0.40);
    overflow-y: scroll;
    height: 168px;
}

.component_panel .console::-webkit-scrollbar {
    width: 0.5em;
}

.component_panel .console::-webkit-scrollbar-track {
    background-color: #28437a;
}

.component_panel .console::-webkit-scrollbar-thumb {
    background-color: black;
}

.component_panel .console_container{
    padding: 0.5em 1.5em;
}

.component_panel .color_scheme_option{
    cursor: pointer;
    border-radius: 1.5em;
    transition: 0.5s;
}

.component_panel .color_scheme_option:hover{
    background-color: rgba(40, 67, 122, 0.50);
}

button:focus{
    outline:unset;
}


[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

[type="radio"] + div {
    cursor: pointer;
}

[type="radio"]:checked + div {
    outline: 1px solid white;
    border-radius: 1.5em;
    padding: 0.3em;
    color: white;
}


[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

    [type="radio"] + img {
        cursor: pointer;
    }

    [type="radio"]:checked + img {
        outline: 2px solid white;
    }


.gallery{
    width:100%;
    display:flex;
    justify-content:center;
}

.gallery .gallery_container{
    width:100%;
    max-width:1500px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .img_box{
    position:relative;
}

.gallery .img_box_container{
    width:100%;
    height:100%;
}

.gallery .gallery_container img{
    width:100%;
    height:100%;
}

.gallery .cover_img{
    position:absolute;
    left:0;
    bottom:0;
    top:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.60);
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    transition: 0.5s;
}

.gallery .cover_img:hover{
    background-color:rgba(0, 0, 0, 0);
}

.gallery .cover_img button{
    color:transparent;
    font-size:3rem;
    background-color:unset;
    border:unset;
    font-weight: 800;
    letter-spacing:5px;
    transition:0.5s;
}

.gallery .cover_img:hover button{
    color:white;
    
}

.gallery .cover_img:hover button:hover{
    color:#314f8e;
}

.focused_gallery {
    display:flex;
    justify-content:center;
    position:relative;
}

.focused_gallery .focused_gallery_container{
    width:100%;
    max-width:1500px;
}

.focused_gallery .focused_gallery_container .img_box{
    display:flex;
    justify-content:center;
}

.focused_gallery .center_img{
    position:relative;
}

.focused_gallery .focused_gallery_container img{
    width:1000px;
    height:650px;
}

.focused_gallery .button_left{
    height:650px;
    position:absolute;
    left:250px;
    width: 60px;

    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    cursor:pointer;

    transition: 0.5s;

    background-color:rgba(15, 25, 46, 0.0);
}

.focused_gallery .button_left:hover{
    background-color:rgba(15, 25, 46, 0.6);
}


.focused_gallery  button{
    font-size:4rem;
    background-color:unset;
    border:unset;
    color:white;
}


.focused_gallery .button_right{
    height:650px;
    position:absolute;
    right: 250px;
    width: 60px;

    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

    transition: 0.5s;

    cursor:pointer;
    background-color:rgba(15, 25, 46, 0.0);
}

.focused_gallery .button_right:hover{
    background-color:rgba(15, 25, 46, 0.6);
}

.focused_gallery .img_description{
    display:flex;
    justify-content:center
}

.focused_gallery .img_description_container{
    width:100%;
    max-width: 1000px;
    background-color:#f0f4fc;
    text-align:center;
    color:black;
}

.focused_gallery .close_button{
    position:absolute;
    top: -80px;
    right: 260px;
}

.focused_gallery .close_button button{
    transition: 0.5s;
}

.focused_gallery .close_button button:hover{
    color:#2c4d8f;
}