

* {
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

/*Header section*/
p {
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}


.top_row{
    display:none;
}

.home_page{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.home_page .home_page_container{
    width:100%;
    max-width: 1100px;
    min-height: 700px;

    display:grid;
    grid-template-columns: 80% 20%;

    border-radius: 50px;
    background: #ffffff;
    box-shadow:  30px 30px 60px #dedede;
}

.home_page .left_home{
    display:flex;
}

.home_page .left_home_container{
    max-width: 700px;
    padding: 5em 5em 0 5em;
}

.home_page .left_home .hello_message h1{
    font-size: 10rem;
    letter-spacing: 15px;
    text-align:left;
}

.home_page .left_home .introduction_txt{
    font-size:1.3rem;
    padding: 2em 0 0 10px;
}

.home_page .go_btn{
    padding: 3em 0 0 10px;
}

.home_page .go_btn a{
    border:unset;
    display:block;  
    text-align:center;
    color:white;
    background-color: #21264a;
    color:white;
    font-size:1.5rem;
    cursor: pointer;
    padding:1em 0.5em;
    width:300px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;

    transition: 0.5s;
}

.home_page .go_btn a:hover{
    background-color:#283067;
    transform:translateY(-1px);
    color:white;
}

.home_page .right_home{
    background-color: #21264a;
    height:100%;
    border-radius: 50px;

    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}


.home_page .right_home_container{
    color:white;
    text-align:center;
}

.home_page .right_home_container .info_icon{
    padding:25px 0;
}

.home_page .right_home_container .info_icon i{
    font-size:3.5rem;
    padding:15px 0;
}

@media screen and (max-width: 1100px) {
    .home_page{
        display:block;
        justify-content:center;
        align-content:unset;
        align-items:unset;
    }

    .home_page .home_page_container {
        display: block;
        min-height: unset;
    }

    .home_page .left_home_container {
        max-width: 700px;
        padding: 5em 6em 5em 3em;
    }


    .home_page .right_home {
        height: 100%;
        border-radius:unset;
    }

    .home_page .right_home_container{
        display:flex;
        justify-content:space-around;
    }

    .home_page .right_home_container .info_icon i{
        font-size:2rem;
    }

    .home_page .right_home_container .info_icon{
        padding:0 25px;
    }
}

@media screen and (max-width: 600px){
    .home_page .left_home_container {
        max-width: 700px;
        padding: 5em 10px 5em 10px;
    }

    .home_page .left_home .hello_message h1 {
        font-size: 6rem;
        letter-spacing: 10px;
    }

    .home_page .right_home_container .info_icon {
        padding: 0 10px;
    }
}

@media screen and (max-width: 350px){
    .home_page .right_home_container .info_icon i {
        font-size: 2rem;
        padding: 15px 5px 0 5px;
    }

    .home_page .go_btn{
        text-align:center;
    }

    .home_page .go_btn a{
        border:unset;
        background-color: #21264a;
        color:white;
        font-size:1.5rem;
        padding:0.5em;
        width:200px;
        transition: 0.5s;
    }
}