* {
    font-family: 'Martel', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Domine', serif;
}

[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

    [type="radio"] + img {
        cursor: pointer;
        width: 100px;
        height: 100px;
    }

    [type="radio"]:checked + img {
        outline: 2px solid #651b92;
    }

img{
    width: 100px;
    height: 100px;
}

.program_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.post_component {
    background-color: rgb(255, 255, 255);
    width:100%;
    max-width: 1000px;
    height: 100%;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    text-align: center;
    border-radius: 0.5em;
}

.add_post_button {
    text-align:left;
}

button{
    border: none;
    text-transform: uppercase;
    color: black;
    background-color:unset;
    border: 1px solid black;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5em;
    transition: 0.5s;
}

button:hover{
    transform: translateY(-3px);
    outline:unset;
}

.add_post_container {
    padding: 2em 1em; 
    margin: 1em 0;
    background-color: rgb(255, 255, 255);
}

.add_title_container {
    padding: 1em;
}

label {
    display: block;
    color: black;
    letter-spacing: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0.5em;
}

input {
    display: block;
    border: none;
    padding: 0.5em;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 0.2em;
}

.add_paragraphs_images_container{
    margin-top: 1em;
    padding: 1em;
}

.add_paragraphs_images_container p{
    margin: 0.5em 0;
} 

textarea {
    display: block;
    border: none;
    padding: 0.5em;
    color:black;
    background-color: #f2f2f2;
    border-radius: 0.2em;
    font-size: 1.3rem;
    height: 150px;
    width: 100%;
}

.img_preview{
    display:block;
    margin: 1em 0;
}

.add_image_btn_container {
    display: block;
    text-align: left;
}

.image_add_container {
    display: block;
    margin: 0.5em 0;
}

.image_label {
    display: inline-block;
    padding: 0 0.5em;
}

.image_position_buttons {
    display: block;
    text-align: left;
}

.create_post_btn_container {
    padding: 1em;
    text-align: left;
}

.paragraphs_add_delete_buttons_container{
    text-align: left;
}

/*Post Display*/

.post_container {
    width: 1000px;
    background-color: rgb(255, 255, 255);
    padding: 1em 1.5em;
    border-radius: 0.5em;
}

.title_post {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
}

.title_post h2{
    font-size: 4rem;
    letter-spacing: 6px;
    font-weight: 900;
    color: black;
}

.post_title_underline_container {
    width: 100%;
    padding: 1em 30%;
}

.post_title_underline_container .post_title_underline {
    height: 3px;
    background-color: black;
}

.post_img_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1em 0;
}

.post_img_container img {
    width: 100%;
    height: 562px;
}

.post_paragraph_container {
    margin: 1em 0;
    display:flex;
    justify-content:center;
}

.post_paragraph_container p{
    font-size: 1.3rem;
    min-height: 300px;
    white-space: pre-line;
    line-height: 38px;
    width:100%;
    max-width: 650px;
}

.author_container {
    display: grid;
    padding: 1em;
    margin: 1em 0;
    grid-template-columns: 100px auto;
    border: 1px solid black;
}

.author_image_container {
    width: 100%;
    height: auto;
    padding: 1em 0.5em;
    border-radius: 0.5em;
}

.author_image_container img{
    width: 100%;
    height: 130px;
}

.author_description_container{
    padding: 3em 3em 0 3em;
}

.delete_post_button_container{
    padding:1em 0;
}

.bold {
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.error{
    color: red;
    margin: 0.5em 0;
}

/*Style for editing post*/

.edit_post_container{
    width:100%;
    max-width:1000px;
}

.edit_post_container textarea{
    min-height: 300px;
    padding: 1em;
    margin: 1em 0;
    color:black;
}

.edit_post_container input{
    min-height: 100px;
    padding:1em;
    margin: 1em 0;
    color:black;
}

.edit_post_container label{
    margin: 1em 0;
    color:black;
}

@media screen and (max-width:1000px){
    .post_component {
        width: 800px;
    }


    .post_container {
        width: 800px;
    }

    .edit_post_container {
        width: 800px;
    }
}

@media screen and (max-width:800px) {
    .post_component {
        width: 600px;
    }


    .post_container {
        width: 600px;
    }

    .edit_post_container {
        width: 600px;
    }
}

@media screen and (max-width:600px) {
    .post_component {
        width: 100%;
        padding: 0;
    }

    .add_post_button {
        padding: 0em;
    }

    .post_container {
        width: 100%;
        padding: 0.3em;
    }

    .edit_post_container {
        width: 100%;
    }

    div{
    }

    .title_post h2 {
        font-size: 1.5rem;
    }

    .author_description_container {
        padding: 1em 3em 0 3em;
    }
}