.project_description {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1d233e;
    padding: 10em 0 3em 0;
}

.project_description_container {
    width: 100%;
    max-width: 700px;
    background-color: #ebebeb;
    box-shadow: 5px 5px 10px rgba(31, 33, 40, 0.49);
}

.project_description h1{
    letter-spacing:4px;
    font-size:4rem;
    margin:0.4em 0;
    font-weight:800;
    text-align:center;
}

.project_description h2{
    text-align:center;
    letter-spacing:3px;
    font-weight:800;
    margin:1em 0;
}

.project_description h3 {
    text-align: center;
    letter-spacing: 2px;
    font-size:1.7rem;
    font-weight:700;
    margin: 0.5em 0;
}

.project_description img{
    width:100%;
    margin: 0 0 1em 0;
}

.project_description .type_container {
    padding: 0 60px;
}

.project_description .type_container p {
    color: #050012;
    font-weight: 900;
    line-height: 30px;
    font-size: 1.5rem;
}

.project_description .tech_icons {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.project_description .icon_c{
    width:30px;
    height:30px;
}

.project_description .links{
    text-align:center;
}

.project_description .links a{
    font-size:2rem;
    font-weight:900;
    color:#050012;
    cursor:pointer;
    padding:0 1em;
    transition:0.5s color;
}

.project_description .links a:hover{
    color:#2e4396;
}

.project_description .description_footer{
    width: 100%;
    max-width:870px;
    background-color: #050012;
    text-align:center;
    padding:0.5em 0;
    margin-top:2em;
}

.project_description .description_footer p {
    color: #ebebeb;
    padding:0;
    margin:0;
    font-weight:900;
}