@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:hover{
    text-decoration:none;
}

ul{
    list-style:none;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top_row{
    z-index:4;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    position:fixed;
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
}

.top_row button{
    color:white;
}

.top_row .top_container{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
}

.top_row .logo{
    padding:0 3em;
}

.top_row .logo a{
    color:white;
}

.top_row .logo svg{
    fill:white;
    transition: 0.5s;
}

.top_row .logo svg:hover{
    fill: rgba(42, 48, 96, 1);
}

.top_row .toggle_button{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:0 3em;
}

.top_row .toggle_button button{
    float:right;
    font-size:1.7rem;
    transition: color 0.5s;
}

.top_row .toggle_button button:hover{
    color: rgba(42, 48, 96, 1);
}

.top_row .toggle_button button:focus{
    outline:unset;
}

.nav{
    position:absolute;
    top:50px;
    width:100%;
    height: calc(100vh - 50px);
    position:fixed; 
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    z-index: 4;

    display:grid;
    grid-template-columns: 1fr 1fr;
}

.nav .nav_links{
    height:100%;
    width:100%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}

.nav .nav_link i{
    width:50px;
}

.nav .nav_link{
    padding: 1em 0.5em;
    border-radius:20%;
    transition:0.5s;
}

.nav .nav_link:hover{
    text-decoration:unset;
    background-color:rgba(255, 255, 255, 0.40);
}

.nav h1{
    font-size:4.5rem;
    letter-spacing: 15px;
}

.nav .nav_link{
    font-size:2rem;
    color:white;
}

.nav .media{
    display:flex;
    justify-content:space-around;
    padding:0 4em 0 0;
}

.nav .media .medium{
    text-align:left;
    width:100%;
    font-size:3rem;
}

.nav .media .medium a{
    color:rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}

.nav .media .medium a:hover{
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 500px){
    .nav h1 {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    .nav {
        grid-template-columns: 1fr;
    }

    .placeholder{
        display:none;
    }

    .nav .media .medium {
        font-size: 2rem;
        text-align:center;
    }

    .nav_links{
        padding-left:30px;
    }
}

#blazor-error-ui{
 background: lightyellow;
 bottom: 0;
 box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
 display: none;
 left: 0;
 padding: 0.6rem 1.25rem 0.7rem 1.25rem;
 position: fixed;
 width: 100%;
 z-index: 1000;}
#blazor-error-ui .dismiss {
 cursor: pointer;
 position: absolute;
 right: 0.75rem;
 top: 0.5rem;}