@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, .btn-link {
    color: #0366d6;
}

a:hover{
    text-decoration:none;
}

html {
    background-color: #f1f1f1;
}

.site{
    min-height:100vh;
    display:grid;
    grid-template-columns: 280px auto;

}

#main_nav {
    background-color: #21264a;
}

#main_nav .navigation {
    display: grid;
    grid-template-rows: 25% 35% 27% 13%;
    min-height: 100vh;
    background-color:#21264a;
    color: white;
}

#main_nav .l_box{
    display:grid;
    grid-template-columns: 30% auto;
}

#main_nav .toggle-button{
    display:none;
}

#main_nav .top_nav{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.10);
}

#main_nav .top_nav svg{
    fill: white;
    transition: 0.5s;
}

#main_nav .top_nav svg:hover{
    fill: #27568a;
}

#main_nav .top_nav p{
    font-size:  1.1rem;
    letter-spacing: 2px;
    text-align:center;
}

#main_nav .top_nav .name{
    font-size:1.4rem;
    letter-spacing: 3px;
}

#main_nav .top_nav div{
    padding:1em 0;
}

#main_nav .navigation_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
    border-bottom: 1px solid rgba(156, 191, 212, 0.10);
}

#main_nav .navigation_links .l_box{
    font-size:1.2rem;
    padding:1em 0.5em;
    letter-spacing: 4px;
    cursor:pointer;
    transition: 0.5s;
}

#main_nav .navigation_links .l_box:hover{
    background-color:rgba(156, 191, 212, 0.50);
}

#main_nav .navigation_links .l_box a{
    color:white;
}

#main_nav .navigation_links .l_box a:hover{
    text-decoration: unset;
}

#main_nav .work_shots {
    border-bottom: 1px solid rgba(156, 191, 212, 0.10);
}

#main_nav .work_shots_container{
    height:100%;
}

#main_nav .shots{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

#main_nav .shots_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
    grid-gap: 10px;

}

#main_nav .shot{
    padding:0.3em;
    cursor:pointer;
    transition:0.5s;
}

#main_nav .shot:hover{
    background-color:#27568a;
}


#main_nav .title{
    text-align:center;
    padding: 20px 0;
    font-size:1.3rem;
}

#main_nav .shot img {
    width: 100%;
}

#main_nav .media {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(156, 191, 212, 0.10);
}

#main_nav .media_container{
    display:flex;
    justify-content:space-around;
}

#main_nav .medium{
    padding:0 20px;
}

#main_nav .medium a{
    font-size:1.5rem;
    transition: 0.5s;
    font-weight:100;
    cursor:pointer;
}

#main_nav .medium a:hover{
    color: #27568a;
}

@media screen and (max-width: 1100px){
    #main_nav .toggle-button {
        display: block;
        z-index: 10;
        position:absolute;
        top: 10px;
        right: 40px;
    }

    #main_nav .toggle-button button {
        font-size:3rem;
        color:#242a53;
        border:unset;
        background-color:unset;
    }

    .display_none {
        display:none;
    }

    .toggle-button .x_btn{
        color:white!important;
        position:fixed;
    }

    .site {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav_displayed {
    }

    #main_nav .navigation {
        top: 0;
        right: 0;
        display: grid;
        grid-template-rows: 200px 300px 550px 100px;
        min-height: unset;
        height: auto;
    }


    #main_nav .l_box{
        display:inline;
        text-align:center;
        letter-spacing: 10px;
        font-size:1.5rem;
    }

    #main_nav .top_nav p {
        font-size: 1rem;
        letter-spacing: 3px;
        text-align: center;
    }

    #main_nav .top_nav .name{
        font-size:1.2rem;
        letter-spacing: 5px;
    }
}