@page "/FirstPost"
@inject IJSRuntime JSRuntime;

<head>
    <link rel="stylesheet" href="../css/blog_post.css" />
</head>

<main id="blog_post">
    <div class="blog_post_overlay">
    </div>

    <div class="blog_post_container">
        <header class="blog_post_header">
            <div class="top_title">
                <h1 class="title">New website!</h1>
                <p class="icon_type">
                    <i class="fas fa-code"></i>
                </p>
            </div>

            <div class="underline"></div>

            <div class="other_blog_info">
                <div class="date_container">
                    <p class="date">20.02.2021</p>
                </div>

                <div class="share_buttons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                </div>
            </div>

            <div class="blog_post_foot">
            </div>
        </header>

        <div class="expandeble">
            <section class="blog_post_content">
                <p>The programming industry is already full of tech-related blogs, but I want to add my 5 cents to it. </p>
                <br>
                <p>I will be creating posts where I will be explaining solutions to certain problems I have faced and how I resolved them. </p>
                <p>Showing my big and small projects is my goal as well. With the explanation of the code and where and how it can be used.</p>
                <p>I want to share as well some of my lifestyle choices. Things like how I organize my day-to-day basics. Or even long-term goals, habits, and much more.</p>
                <p>Being a big blazor enthusiast, you can expect many posts and projects related to this framework.</p>
                <p>Hopefully, I will be able to win you enough that you will come back here from time to time.</p>
                <br>
                <p>Lastly, Keep Coding!</p>
            </section>

            <div class="blog_post_footer">
                <div class="foot"></div>
                <p class="support_message">If you liked the post, you can support me and</p>
                <a class="coffe_button" href="https://www.buymeacoffee.com/themattech">Buy me a Coffe <i class="fas fa-mug-hot"></i></a>
            </div>
        </div>
    </div>
</main>