@page "/FirstPost"
@inject IJSRuntime JSRuntime;

<head>
    <link rel="stylesheet" href="../css/blog_post.css" />
</head>

<main id="blog_post">
    <div class="blog_post_overlay">
    </div>

    <div class="blog_post_container">
        <header class="blog_post_header">
            <div class="top_title">
                <h1 class="title">New website!</h1>
                <p class="icon_type">
                    <i class="fas fa-code"></i>
                </p>
            </div>

            <div class="underline"></div>

            <div class="other_blog_info">
                <div class="date_container">
                    <p class="date">20.02.2021</p>
                </div>

                <div class="share_buttons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook-square"></i>
                </div>
            </div>

            <div class="blog_post_foot">
            </div>
        </header>

        <div class="expandeble">
            <section class="blog_post_content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, saepe.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sint quia at voluptatem dicta, commodi a? Omnis fuga necessitatibus quaerat fugiat tempora odit nihil laborum molestiae. Voluptatum voluptate hic ducimus.</p>
                <br>
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sed.</li>
                </ul>
                <br>
                <br>

                <h3>Lorem, ipsum.</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ex reiciendis error excepturi officiis quos consequuntur alias obcaecati voluptatum minima dolore nihil sapiente consequatur, eveniet doloribus ratione, magnam repellat dolores cum vitae. Facilis iusto sequi soluta. Ea illo esse explicabo mollitia, officiis enim sit optio facilis cumque, velit nisi vitae veniam obcaecati facere incidunt voluptate provident at! Dolores possimus, id ratione ipsa molestias voluptate labore, aut libero sed aperiam a perferendis accusamus esse nesciunt placeat! Neque quos autem assumenda provident ea blanditiis nemo obcaecati hic atque voluptates voluptas perspiciatis eaque, dolorem et eos laboriosam nulla, consequuntur placeat quas aut perferendis!</p>

                <br>
                <br>

                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, asperiores.</p>

            </section>

            <div class="blog_post_footer">
                <div class="foot"></div>
                <p class="support_message">If you liked the post, you can support me and</p>
                <a class="coffe_button" href="https://www.buymeacoffee.com/themattech">Buy me a Coffe <i class="fas fa-mug-hot"></i></a>
            </div>
        </div>
    </div>
</main>