h4 {
    padding: 0;
    margin: 0;
}

.component{
    display:flex;
    justify-content:center;
    width:100%;
    padding:3em 0;
}

.component .component_container{
    width: 100%;
    max-width: 1000px;
    display:grid;
    grid-template-columns: 550px 450px;
}

.component_panel{
    display:flex;
    justify-content:center;
    width:100%;
}

.component_panel .component_panel_container{
    border: 4px solid #28437a;
    border-radius: 0.5em;
}

.component_panel .title{
    text-align:center;
    padding: 1em 0;
    background-color: #28437a;
    color: #f0f4fc;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.component_panel .option{
}

.component_panel h1{
    font-size: 1.8rem;
}

.component_panel .description{
    padding: 1em 1.5em;
}

.component_panel .choice_check_boxes{
    padding: 0.5em 0;
    width:100%;
    display: flex;
    justify-content:space-around;
}

.component_panel h4{
    text-align:center;
    padding: 0.5em 0;
    background-color: #28437a;
    color: #f0f4fc;
}

.component_panel .input_container{
    padding: 0.5em 1.5em;
}

.component_panel label{
    display:block;
    text-align:center;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 5px;
}

.component_panel input{
    border: 2px solid #28437a;
    width: 100%;
    text-align:center;
}

.component_panel .button_container{
    padding: 0.5em 1.5em;
    text-align: right;
}

.component_panel .button_container button{
    border: 2px solid #28437a;
    color: #28437a;
    background-color: unset;
    padding:0.3em;
    font-weight:900;
    transition: 0.5s;
}

.component_panel .button_container button:hover{
    background-color: #28437a;
    color:#f0f4fc;
}

.component_panel .console{
    background-color: rgba(40, 67, 122, 0.40);
    overflow-y: scroll;
    height: 168px;
}

.component_panel .console::-webkit-scrollbar {
    width: 0.5em;
}

.component_panel .console::-webkit-scrollbar-track {
    background-color: #28437a;
}

.component_panel .console::-webkit-scrollbar-thumb {
    background-color: black;
}

.component_panel .console_container{
    padding: 0.5em 1.5em;
}

.component_panel .color_scheme_option{
    cursor: pointer;
    border-radius: 1.5em;
    transition: 0.5s;
}

.component_panel .color_scheme_option:hover{
    background-color: rgba(40, 67, 122, 0.50);
}

button:focus{
    outline:unset;
}

[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
}

    [type="radio"] + div {
        cursor: pointer;
    }

    [type="radio"]:checked + div {
        outline: 1px solid white;
        border-radius: 1.5em;
        padding: 0.3em;
        color: white;
    }

[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
    -webkit-appearance: none;
}

    [type="radio"] + p {
        cursor: pointer;
        background-color: white;
        font-weight:900;
        font-size:1rem;
        padding:0.3em;
        color: black;
    }

    [type="radio"]:checked + p {
        background-color:#5489f6;
        color: black;
    }

.colorBox{
    width:35px;
    height:35px;
    border-radius:1.5em;
}

.Green {
    background-color: #50d300;
}

.Red {
    background-color: #b60000;
}

.Blue {
    background-color: #0041c8;
}

.Pink {
    background-color: #b400c8;
}

.item_card {
    width: 100%;
    max-width: 350px;
    padding: 1em 0.5em;
    border-radius: 0.7em;
    transition: 0.5s all;
}

.svg_container {
    position: relative;
    width:100%;
    max-width: 650px;
}

.svg {
    margin-bottom: 1em;
    padding: 1em;
}

.product_img {
    width: 500px;
    height: auto;
}

.product_description {
    padding: 0.5em;
}

p {
    margin-bottom: 0.5em;
    font-weight: 500;
}

.dsc {
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 1rem;
}

.product_description h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    margin-bottom: 0.3em;
}


.product_purchase_container {
    padding: 1em;
}

.colors_container, .sizes_container, .price_container {
    margin-bottom: 0.3em;
}

.check_boxes {
    display: flex;
    justify-content: space-around;
}

.buy_button_container {
    padding: 0.3em;
    text-align: center;
}

.buy_button_container button {
    border: unset;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.6em 1em;
    transition: 0.5s;
}

.buy_button_container button:hover{
    transform: translateY(-1px);
}

/*Scheme 1 style*/
#Scheme_1 .item_card {
    background: rgb(30,52,96);
    background: linear-gradient(0deg, rgba(30,52,96,1) 24%, rgba(40,67,122,1) 65%, rgba(70,118,215,1) 90%);
    color: #f0f4fc;
}

#Scheme_1 .buy_button_container button {
    color: black;
    background-color: #dde7fc;
}

#Scheme_1 .buy_button_container button:hover{
    background-color:#ffffff;
}
/*End of scheme 1*/

/*Scheme 2 style*/
#Scheme_2 .item_card {
    background: rgb(75,39,74);
    background: linear-gradient(0deg, rgba(75,39,74,1) 24%, rgba(138,43,148,1) 65%, rgba(164,56,152,1) 90%);
    color: #f0f4fc;
}

#Scheme_2 .buy_button_container button {
    color: black;
    background-color: #fcddfb;
}

#Scheme_2 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 2*/

/*Scheme 2 style*/
#Scheme_3 .item_card {
    background: rgb(42,43,46);
    background: linear-gradient(0deg, rgba(42,43,46,1) 24%, rgba(69,73,82,1) 65%, rgba(134,141,157,1) 90%);
    color: #f0f4fc;
}

#Scheme_3 .buy_button_container button {
    color: black;
    background-color: #dde7fc;
}

#Scheme_3 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 2*/

/*Scheme 2 style*/
#Scheme_4 .item_card {
    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 24%, rgba(235,235,235,1) 45%, rgba(255,255,255,1) 64%);
    color: #1b1b1b;
}

#Scheme_4 .buy_button_container button {
    color: black;
    background-color: #f1f1f1;
}

#Scheme_4 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 2*/

/*Scheme 5 style*/
#Scheme_5 .item_card {
    background: rgb(55,112,61);
    background: linear-gradient(0deg, rgba(55,112,61,1) 24%, rgba(81,158,85,1) 45%, rgba(97,200,109,1) 64%);
    color: #f0f4fc;
}

#Scheme_5 .buy_button_container button {
    color: black;
    background-color: #dde7fc;
}

#Scheme_5 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 5*/

/*Scheme 6 style*/
#Scheme_6 .item_card {
    background: rgb(112,55,63);
    background: linear-gradient(0deg, rgba(112,55,63,1) 24%, rgba(158,81,92,1) 45%, rgba(200,97,108,1) 64%);
    color: #f0f4fc;
}

#Scheme_6 .buy_button_container button {
    color: black;
    background-color: #dde7fc;
}

#Scheme_6 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 6*/

/*Scheme 7 style*/
#Scheme_7 .item_card {
    background: rgb(112,108,55);
    background: linear-gradient(0deg, rgba(112,108,55,1) 24%, rgba(158,155,81,1) 45%, rgba(200,190,97,1) 64%);
    color: #f0f4fc;
}

#Scheme_7 .buy_button_container button {
    color: black;
    background-color: #dde7fc;
}

#Scheme_7 .buy_button_container button:hover {
    background-color: #ffffff;
}
/*End of scheme 7*/

.bought_poduct{
    width:100%;
    text-align:center;
    padding: 2em 1em;
    font-size:1.3rem;
}

/*Mediaquery*/
@media screen and (max-width:1200px){
    .component .component_container {
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3em;
    }

    .functional{
        display:flex;
        justify-content:center;
    }
}

@media screen and (max-width:600px) {
    .product_img {
        width: 300px;
        height: auto;
    }
}