*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    
}

.score_board{
    color:white;
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.5rem;
    max-width: 1300px;
    padding: 1em 0.3em;
    text-align: center;
    background-color: rgb(65, 0, 100);
    border-radius: 1em;
}
.score_board_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#score_1, #score_2{
    color: rgb(209, 0, 199);
    font-weight: 700;
}

#dice_1_user{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_2_user{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_3_user{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_4_user{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_5_user{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_1_user_2{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_2_user_2{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_3_user_2{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_4_user_2{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}

#dice_5_user_2{
    content: url(../images/roll_dice/SVG/dice_1.svg);
}





#boards_container{
    display: grid;
    grid-template-columns: 10% 39% 2% 39% 10%;
    width: 100%;
    max-width: 1300px;
    height: 500px;
    padding: 0.3em;
    background-color: rgb(65, 0, 100);
    border-radius: 1em;
}

#player_1_board_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

#player_2_board_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.dice_p{
    width:50px;
    height: 50px;
}

.dice_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#player_1_play_board{
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    background-color: rgb(35, 0, 54);
    position: relative;
    width: 100%;
    height: 100%;

    .dice_p{
        position: relative;
    }
}

.dice_p{
    cursor: pointer;
}

#player_2_play_board{
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    background-color:rgb(35, 0, 54);
    position: relative;

    .dice_p{
        position: relative;
    }
}

#border{
    background-color: black;
}

.buttons{
    width: 100%;
    max-width: 1300px;
    display: flex;
}

.buttons .buttons_container{
    display: grid;
    padding: 1em 0 0 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.buttons button{
    font-size: 1.5rem;
    background-color: rgb(65, 0, 100);
    color: white;
    font-weight: 800;
    padding: 0.5em;
    cursor: pointer;
    border: unset;
    transition: background-color 0.5s;

    &:hover{
        background-color:rgb(105, 0, 161);
    }
}

//Alert box
#alert_box{
    color: white;
    text-align: center;
    padding: 2em;
    position: absolute;
    font-size: 3rem;
    width: 750px;
    top: 35%;
    left: 31%;
}