@page "/About"

<head>
    <link rel="stylesheet" href="../css/about_style.css" />
</head>

<header class="v_header container">
    <div class="fullscreen_video_wrap">
        <video src="../videos/video (1).mp4" autoplay="autoplay" loop="loop">
        </video>
    </div>

    <div class="header_overlay"></div>

    <div class="header_content">
        <div class="header_content_container">

            <div class="left">
                <div class="left_container">
                    <div class="title">
                        <h1>Mateusz Owczarek</h1>
                        <div class="underline_container">
                            <div class="underline">

                            </div>
                        </div>
                        <h2>Developer & Designer</h2>
                    </div>

                </div>
            </div>

            <div class="right">
                <div class="right_container">

                    <div class="see_more_btn">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</header>


<section class="about_1">
    <div class="about_1_container">

        <div class="title">
            <h1>Why to work with me?</h1>
        </div>

        <div class="text_box">
            <p>
                ..because I am well skilled Full-Stack developer. I can design the look of the app and its buisness logic. Then use it to create fully functional, safe and good looking app. I do work mostly with .Net framework but I am open to any other technologies.
            </p>
        </div>

        <div class="skills_box">

            <div class="skill">
                <div class="icon_skill">
                    <i class="fas fa-pencil-ruler"></i>
                </div>

                <div>
                    <h2>Front - End</h2>
                </div>

                <div class="skills_list">
                    <p>Html 5</p>
                    <p>CSS 3</p>
                    <p>JS 6</p>
                    <p>React JS</p>
                    <p>SCSS</p>
                    <p>Blazor</p>
                    <p>Adobe Ilustrator</p>
                    <p>Adobe Photoshop</p>
                    <p>UX/UI Design</p>
                </div>
            </div>

            <div class="skill backend">
                <div class="icon_skill">
                    <i class="fas fa-server"></i>
                </div>

                <div>
                    <h2>Back - End</h2>
                </div>

                <div class="skills_list">
                    <p>C#</p>
                    <p>.Net</p>
                    <p>.Net-Core from 2.2 to 3.1</p>
                    <p>SQL</p>
                    <p>System Design</p>
                </div>
            </div>

            <div class="skill">
                <div class="icon_skill">
                    <i class="fas fa-swatchbook"></i>
                </div>

                <div>
                    <h2>Other</h2>
                </div>

                <div class="skills_list">
                    <p>Accessibility principles</p>
                    <p>GIT</p>
                    <p>Visual Studio</p>
                    <p>VS-Code</p>
                    <p>Economics</p>
                    <p>Agile</p>
                    <p>Project documentation</p>
                    <p>Basics of ML</p>
                    <p>Principles of Cyber Security</p>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="development_process">
    <div class="development_process_container">

        <div class="title">
            <div class="title_container">
                <h1>My Development Process</h1>
            </div>
        </div>


        <div class="development_process_time_line">

            <!--1-->
            <div class="left">
                <div class="content">
                    <h2>Analysing requirments</h2>
                    <p>
                        At start I create list of all functions wchih app needs. Pen and paper at the begining, but later would use software such as Adobe Ilustrator for creating diagram of System design or free apps such as "sqldbm.com" for database structure.
                    </p>
                </div>

                <div class="time_stamp">
                    <h1>1</h1>
                </div>

            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fab fa-searchengin"></i>
                </div>
            </div>

            <div class="right">

            </div>
            <!---->
            <!--2-->
            <div class="left">
            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fas fa-pencil-ruler"></i>
                </div>
            </div>

            <div class="right">

                <div class="time_stamp">
                    <h1>2</h1>
                </div>

                <div class="content">
                    <h2>Design</h2>
                    <p>
                        Without good design new apps no matter how good functionality they provide for the user will not achieve success.
                        For the start is good to look for inspiration.
                        Depending on the project I would serch for it in other peoples work, not nesecarly web related to it but with the same theme.
                        After the reserch yet again pen and paper for outlining DOM structure. Then creating and gathering all visuals(images, videos, graphics).
                        Lastly I would create base style in Adobe XD or Ilustrator(Optionally).
                    </p>
                </div>

            </div>
            <!---->
            <!--3-->
            <div class="left">
                <div class="content">
                    <h2>Development</h2>
                    <p>
                        (Asuming that I create fully functional dynamic app (ex. E-Commerce))
                        Since I develop mostly in .Net framework I am going to use MVC as architectural pattern.
                        Firstly I would create all of the buisness logic and SQL data structure with use of Entity Framework.
                        Then I would create all of the controllers and basic HTML.
                        Another step would be to iplement the UI design and structure.
                        Lastly polishing evrything created.
                    </p>
                </div>

                <div class="time_stamp">
                    <h1>3</h1>
                </div>

            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fab fa-connectdevelop"></i>
                </div>
            </div>

            <div class="right">

            </div>
            <!---->
            <!--4-->
            <div class="left">


            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fas fa-bug"></i>
                </div>
            </div>

            <div class="right">
                <div class="time_stamp">
                    <h1>4</h1>
                </div>

                <div class="content">
                    <h2>Testing</h2>
                    <p>
                        While testing I am making sure that app stores user data safely as my main principle.
                        As well if there are any faliures in how CRUD works or any of the buisness logic returns expected results.
                        Then checking if website is fully responsive and accessible to the people with disabilities.
                    </p>
                </div>


            </div>
            <!---->
            <!--5-->
            <div class="left">
                <div class="content">
                    <h2>Deploying</h2>
                    <p>
                        To put it siply:<br />
                        - get domain<br />
                        - find and buy hosting provider<br />
                        - make app live<br />
                        <br />
                        I do know usualy it is more nuances to it but all of it depends on the project.
                    </p>
                </div>

                <div class="time_stamp">
                    <h1>5</h1>
                </div>

            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fas fa-file-export"></i>
                </div>
            </div>

            <div class="right">

            </div>
            <!---->
            <!--6-->
            <div class="left">


            </div>

            <div class="middle">
                <div class="icon">
                    <i class="fas fa-clipboard"></i>
                </div>
            </div>

            <div class="right">
                <div class="time_stamp">
                    <h1>6</h1>
                </div>

                <div class="content">
                    <h2>Analysing project</h2>
                    <p>
                        Creating documentation for yourself and the app owner is mandatory. 
                        It would help either you or the other programmers in the future in case something goes wrong or to make changes easier.
                        Each project is a good case study by itself, since you can do improvments in way how you would approach other projects.
                    </p>
                </div>


            </div>
            <!---->

        </div>

    </div>
</section>


<section class="projects_btn">
    <div class="projects_btn_container">

        <div class="title">
            <h1>Projects</h1>
        </div>

        <div class="button_container">
            <NavLink href="Projects" class="p_button">
                <h1><i class="fas fa-rocket"></i></h1>
            </NavLink>
        </div>
    </div>
</section>


<section class="profile">
    <div class="bacground_color">
    </div>

    <div class="profile_container">
        <div class="profile_content">
            <div class="title">
                <h1>Meet your future help</h1>
            </div>

            <div class="head_txt">
                <p>
                    I always liked technology, thats why I have become programmer. 
                    I am flexible to work alone or with team of people. 
                    Each project and its challange excites me and by itself gives me motivation.
                    <br /><br />
                    I am looking forward to work with you :)
                </p>
            </div>

        </div>
    </div>
</section>

<section class="hobbies">
    <div class="hobbies_container">
        <div class="title">
            <h1>My hobbies</h1>
        </div>

        <div class="hobby_box">

            <div class="hobby">
                <div class="icon">
                    <i class="fas fa-microchip"></i>
                </div>
                <div class="desc">
                    <p>Tech</p>
                </div>
            </div>

            <div class="hobby">
                <div class="icon">
                    <i class="fas fa-dumbbell"></i>
                </div>
                <div class="desc">
                    <p>Gym</p>
                </div>
            </div>

            <div class="hobby">
                <div class="icon">
                    <i class="fas fa-gamepad"></i>
                </div>
                <div class="desc">
                    <p>Games</p>
                </div>
            </div>

            <div class="hobby">
                <div class="icon">
                    <i class="fas fa-landmark"></i>
                </div>
                <div class="desc">
                    <p>History</p>
                </div>
            </div>

        </div>

    </div>
</section>



<footer>
    <div class="footer_container">
        <p>@DateTime.Now.Year &copy; Mateusz Owczarek</p>
    </div>
</footer>