@page "/About"

<head>
    <link rel="stylesheet" href="../css/about_style.css" />
</head>

<section class="about">
    <div class="about_container">
        
        <header>
            <div class="bacground_color">
            </div>
            <div class="header_container">



                <div class="about_content">
                    <div class="head_title">
                        <h1>Meet your future help</h1>
                    </div>

                    <div class="head_txt">
                        <p>
                            Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                        </p>
                    </div>

                </div>
            </div>
        </header>


        <section class="front_back">
            <div class="front_back_container">

                <div class="skill_card">
                    <div class="skill_card_container">

                        <div class="svg_container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="290px" height="300px" viewBox="0 0 290.05 325.34">
                                <title>Zasób 5</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_6" data-name="Warstwa 6">
                                        <g>
                                            <path d="M99,267.55l40-53,4-6c30.39-54.79,65.26-124.74,102-201,1.31-9.31-.64-10-6-2-47.74,65.48-91.14,127.9-127,185l-3,7-26,58C90.52,257.84,96.29,261.5,99,267.55Z" style="fill: #a67c52" />
                                            <polygon points="112 190.55 144 207.55 152 193.55 120 177.55 112 190.55" style="fill: #b3b3b3" />
                                            <path d="M91,261.55l45-76L245,.55c-1.4-1.4-2.79.46-6,5-49.21,67.71-93.44,131-127,185l-31,70Z" style="opacity: 0.2" />
                                            <path d="M75,314.55c-24.56,4.12-50.62,8.44-61.65,10.71a3.73,3.73,0,0,1-2.28-.26C7.55,323.5-1.81,323,1,322.55l14-3-8,2c-1-.63-7.06-.94-7-2,.08-1.47,6.68-3.69,8-4,14.64,1.09,29.08-6.68,37-20Z" style="fill: #830061" />
                                            <path d="M100,287.55c-3.22,9.66-11.33,19.75-25,27-11.25-1-18.63-4.13-23-9-4.52-1.64-6.41-5.32-7-10l11-23Z" style="fill: #5e0049" />
                                            <path d="M104,281.55c-2.52,12-12.85,25.06-26.5,26-14.6,1-29.82-12-26.5-26,2.76-11.62,14.5-23.38,26.5-26C91.8,252.42,107,267.49,104,281.55Z" style="fill: #973381" />
                                        </g>
                                    </g>
                                    <g id="Warstwa_8" data-name="Warstwa 8">
                                        <g>
                                            <g>
                                                <rect x="148.47" y="10.87" width="21.68" height="280.36" transform="translate(-58.73 125.5) rotate(-36.79)" style="fill: #fbd734" />
                                                <polygon points="234.58 269.8 251.95 256.81 278.41 301.25 270.46 307.21 234.58 269.8" style="fill: #f5b673" />
                                                <path d="M270.35,307.29l8.06-6L290,322.72c.38,1.9-.37,2.41-2.17,1.62Z" style="fill: #445a64" />
                                                <rect x="59.12" y="22.58" width="21.68" height="18" transform="translate(-4.98 48.19) rotate(-36.79)" style="fill: #ebedef" />
                                                <rect x="48.34" y="8.16" width="21.68" height="18" transform="translate(1.51 38.86) rotate(-36.79)" style="fill: #d74214" />
                                            </g>
                                            <polygon points="274.07 304.5 53.79 9.96 45.1 16.45 234.58 269.8 270.46 307.21 274.07 304.5" style="opacity: 0.22" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>

                        <div class="card_title">
                            <h1>Front - End</h1>
                        </div>


                        <div class="card_text">
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                    </div>
                </div>


                <div class="skill_card">
                    <div class="skill_card_container">
                        <div class="svg_container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="290px" height="300px" viewBox="0 0 207.5 315.63">
                                <title>Zasób 2</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_4" data-name="Warstwa 4">
                                        <g>
                                            <polyline points="159.87 136 207.5 164.43 159.87 193.62 113 164.43 159.87 136" style="fill: #2e3192" />
                                            <polyline points="159.87 193.62 159.87 246.63 113 218.21 113 164.43" style="fill: #29abe2" />
                                            <polygon points="207.5 164.43 207.5 218.21 159.87 246.63 159.87 193.62 207.5 164.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="159.87 69 207.5 97.43 159.87 126.62 113 97.43 159.87 69" style="fill: #2e3192" />
                                            <polyline points="159.87 126.62 159.87 179.63 113 151.21 113 97.43" style="fill: #29abe2" />
                                            <polygon points="207.5 97.43 207.5 151.21 159.87 179.63 159.87 126.62 207.5 97.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="159.87 0 207.5 28.43 159.87 57.62 113 28.43 159.87 0" style="fill: #29abe2" />
                                            <polyline points="159.87 57.62 159.87 110.63 113 82.21 113 28.43" style="fill: #29abe2" />
                                            <polygon points="207.5 28.43 207.5 82.21 159.87 110.63 159.87 57.62 207.5 28.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="103.87 170 151.5 198.43 103.87 227.62 57 198.43 103.87 170" style="fill: #603f5d" />
                                            <polyline points="103.87 227.62 103.87 280.63 57 252.21 57 198.43" style="fill: #ffa7f6" />
                                            <polygon points="151.5 198.43 151.5 252.21 103.87 280.63 103.87 227.62 151.5 198.43" style="fill: #bf7db9" />
                                        </g>
                                        <g>
                                            <polyline points="103.87 105 151.5 133.43 103.87 162.62 57 133.43 103.87 105" style="fill: #ffa7f6" />
                                            <polyline points="103.87 162.62 103.87 215.63 57 187.21 57 133.43" style="fill: #ffa7f6" />
                                            <polygon points="151.5 133.43 151.5 187.21 103.87 215.63 103.87 162.62 151.5 133.43" style="fill: #bf7db9" />
                                        </g>
                                        <g>
                                            <polyline points="46.87 205 94.5 233.43 46.87 262.62 0 233.43 46.87 205" style="fill: #b5ff95" />
                                            <polyline points="46.87 262.62 46.87 315.63 0 287.21 0 233.43" style="fill: #b5ff95" />
                                            <polygon points="94.5 233.43 94.5 287.21 46.87 315.63 46.87 262.62 94.5 233.43" style="fill: #88bf70" />
                                        </g>
                                    </g>
                                </g>
                            </svg>

                        </div>

                        <div class="card_title">
                            <h1>Back - End</h1>
                        </div>

                        <div class="card_text">
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="skill_card">
                    <div class="skill_card_container">
                        <div class="svg_container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="290px" height="300px" viewBox="0 0 207.5 315.63">
                                <title>Zasób 2</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_4" data-name="Warstwa 4">
                                        <g>
                                            <polyline points="159.87 136 207.5 164.43 159.87 193.62 113 164.43 159.87 136" style="fill: #2e3192" />
                                            <polyline points="159.87 193.62 159.87 246.63 113 218.21 113 164.43" style="fill: #29abe2" />
                                            <polygon points="207.5 164.43 207.5 218.21 159.87 246.63 159.87 193.62 207.5 164.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="159.87 69 207.5 97.43 159.87 126.62 113 97.43 159.87 69" style="fill: #2e3192" />
                                            <polyline points="159.87 126.62 159.87 179.63 113 151.21 113 97.43" style="fill: #29abe2" />
                                            <polygon points="207.5 97.43 207.5 151.21 159.87 179.63 159.87 126.62 207.5 97.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="159.87 0 207.5 28.43 159.87 57.62 113 28.43 159.87 0" style="fill: #29abe2" />
                                            <polyline points="159.87 57.62 159.87 110.63 113 82.21 113 28.43" style="fill: #29abe2" />
                                            <polygon points="207.5 28.43 207.5 82.21 159.87 110.63 159.87 57.62 207.5 28.43" style="fill: #0071bc" />
                                        </g>
                                        <g>
                                            <polyline points="103.87 170 151.5 198.43 103.87 227.62 57 198.43 103.87 170" style="fill: #603f5d" />
                                            <polyline points="103.87 227.62 103.87 280.63 57 252.21 57 198.43" style="fill: #ffa7f6" />
                                            <polygon points="151.5 198.43 151.5 252.21 103.87 280.63 103.87 227.62 151.5 198.43" style="fill: #bf7db9" />
                                        </g>
                                        <g>
                                            <polyline points="103.87 105 151.5 133.43 103.87 162.62 57 133.43 103.87 105" style="fill: #ffa7f6" />
                                            <polyline points="103.87 162.62 103.87 215.63 57 187.21 57 133.43" style="fill: #ffa7f6" />
                                            <polygon points="151.5 133.43 151.5 187.21 103.87 215.63 103.87 162.62 151.5 133.43" style="fill: #bf7db9" />
                                        </g>
                                        <g>
                                            <polyline points="46.87 205 94.5 233.43 46.87 262.62 0 233.43 46.87 205" style="fill: #b5ff95" />
                                            <polyline points="46.87 262.62 46.87 315.63 0 287.21 0 233.43" style="fill: #b5ff95" />
                                            <polygon points="94.5 233.43 94.5 287.21 46.87 315.63 46.87 262.62 94.5 233.43" style="fill: #88bf70" />
                                        </g>
                                    </g>
                                </g>
                            </svg>

                        </div>

                        <div class="card_title">
                            <h1>Other</h1>
                        </div>

                        <div class="card_text">
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </section>


        <section class="development_process">
            <div class="development_process_container">

                <div class="title">
                    <div class="title_container">
                        <h1>My Development Process</h1>
                    </div>
                </div>


                <div class="development_process_time_line">

                    <!--1-->
                    <div class="left">
                        <div class="content">
                            <h2>Analysing requirments</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                        <div class="time_stamp">
                            <h1>1</h1>
                        </div>

                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fab fa-searchengin"></i>
                        </div>
                    </div>

                    <div id="video_container" class="right video_container">
                        <div class="video_cover">
                        </div>

                        <video class="video" autoplay="autoplay" loop="loop" src="../video/cat_serch.mp4"></video>
                    </div>
                    <!---->

                    <!--2-->
                    <div id="video_container" class="left">
                        <div class="video_cover">
                        </div>

                        <video class="video" autoplay="autoplay" loop="loop" src="../video/design_video.mp4"></video>
                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                    </div>

                    <div class="right">

                        <div class="time_stamp">
                            <h1>2</h1>
                        </div>

                        <div class="content">
                            <h2>Design</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                    </div>
                    <!---->

                    <!--3-->
                    <div class="left">
                        <div class="content">
                            <h2>Development</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                        <div class="time_stamp">
                            <h1>3</h1>
                        </div>

                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fab fa-connectdevelop"></i>
                        </div>
                    </div>

                    <div class="right">

                    </div>
                    <!---->

                    <!--4-->
                    <div class="left">


                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fas fa-bug"></i>
                        </div>
                    </div>

                    <div class="right">
                        <div class="time_stamp">
                            <h1>4</h1>
                        </div>

                        <div class="content">
                            <h2>Testing</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>


                    </div>
                    <!---->

                    <!--5-->
                    <div class="left">
                        <div class="content">
                            <h2>Deploying</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>

                        <div class="time_stamp">
                            <h1>5</h1>
                        </div>

                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fas fa-rocket"></i>
                        </div>
                    </div>

                    <div class="right">

                    </div>
                    <!---->


                    <!--6-->
                    <div class="left">


                    </div>

                    <div class="middle">
                        <div class="icon">
                            <i class="fas fa-clipboard"></i>
                        </div>
                    </div>

                    <div class="right">
                        <div class="time_stamp">
                            <h1>6</h1>
                        </div>

                        <div class="content">
                            <h2>Analysing project</h2>
                            <p>
                                Powstrzymaliśmy krzyżaków, imperium osmańskie, bolszewików, czy domyślacie się kogo nam przyjdzie teraz powstrzymać? Potrzebna będzie pomoc sił Boskich, bo inaczej się nie da.
                            </p>
                        </div>


                    </div>
                    <!---->

                </div>

            </div>
        </section>


        <section class="contact">
            <div class="contact_container">

                <div class="title">
                    <div class="title_container">
                        <h1>
                            Reach Me
                        </h1>
                    </div>
                </div>


                <form class="contact_form">
                    <div class="contact_form_container">
                        <div class="input_container">
                            <label>Name</label>
                            <input />
                        </div>

                        <div class="input_container">
                            <label>Email</label>
                            <input />
                        </div>

                        <div class="input_container">
                            <label>Message</label>
                            <textarea></textarea>
                        </div>

                        <div class="button_container">
                            <button>
                                Submit
                            </button>
                        </div>

                    </div>
                </form>


            </div>
        </section>

    </div>
</section>
