@page "/Blog"

<head>
    <link rel="stylesheet" href="../css/blog.css" />
</head>

<section id="blog_homepage">
    <div class="blog_homepage_container">

        <section id="header">
            <div class="header_container">

                <div class="introduction">
                    <div class="introduction_container">

                        <div class="profile_image_container">
                            <img class="profile_image" src="images/profile.png" alt="profile_avatar">
                        </div>

                        <div class="intro">
                            <h1 class="intro_title">Welcome to my blog</h1>
                            <div class="underline">
                            </div>

                            <p class="intro_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsum exercitationem pariatur officiis velit beatae accusamus deleniti architecto numquam, labore, veritatis itaque aspernatur reprehenderit consequatur corrupti incidunt modi possimus perspiciatis.</p>
                        </div>

                    </div>
                </div>

                <div class="blog_filter">
                    <div class="blog_filter_container">
                        <div class="blog_filter_title_container">
                            <h2 class="blog_filter_title">Select Topic</h2>
                        </div>

                        <div class="filter_buttons">
                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fas fa-code"></i></p>
                                    <p>Coding</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fab fa-js"></i></p>
                                    <p>JS</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fab fa-blogger"></i></p>
                                    <p>Blazor</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p>C#</p>
                                    <p>.NET</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fas fa-paint-brush"></i></p>
                                    <p>Desing</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fas fa-calendar-check"></i></p>
                                    <p>Lifestyle</p>
                                </button>
                            </div>

                            <div class="filter_button_container">
                                <button class="filter_button">
                                    <p><i class="fas fa-project-diagram"></i></p>
                                    <p>Projects</p>
                                </button>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>

                <div class="header_foot">

                </div>
        </section>

        <section id="blog_posts">
            <div class="blog_posts_container">
                <div class="blog_title_container">
                    <h3 class="blog_page_title">Blog Posts</h3>
                </div>

                <div class="blog_posts_display">

                    <div class="blog_post">

                        <div class="blog_img_container">
                            <img src="images/Blog_Post_img1.jpg" alt="tech">
                        </div>

                        <div class="blog_post_content">
                            <div class="post_data">
                                <p class="type"><i class="fas fa-code"></i></p>
                                <p class="date">17.02.2021</p>
                            </div>
                            <h4 class="post_heading">Starting new blog and website!</h4>
                            <p class="post_description">Hi and welcome to my blog. I will be creating posts about programming, technology, lifestyle and much more!</p>
                            <div class="link_container">
                                <NavLink href="FirstPost">View More</NavLink>
                            </div>
                        </div>
                    </div>
                   

                </div>

                <div class="more_button_container">
                    <button class="more_button">
                        Load More
                        <span class="search_icon">
                            <svg id="search_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 233.5 441.5" style="enable-background:new 0 0 233.5 441.5;" xml:space="preserve">
                            <g>
                            <g>
                            <path class="st0" d="M114.9,251.5h4c6.6,0,12,5.4,12,12v166c0,6.6-5.4,12-12,12h-4c-6.6,0-12-5.4-12-12v-166
                                                C102.9,256.9,108.3,251.5,114.9,251.5z" />
                                            </g>
                            <path class="st0" d="M126.4,260.5h-19c-6.6,0-12-5.4-12-12v-7c0-6.6,5.4-12,12-12h19c6.6,0,12,5.4,12,12v7
                                                C138.4,255.1,133,260.5,126.4,260.5z" />
                            <path class="st0" d="M116.8,0C52.3,0,0,52.3,0,116.8s52.3,116.8,116.8,116.8s116.8-52.3,116.8-116.8S181.2,0,116.8,0z M116.8,213.3
                                                c-53.3,0-96.6-43.2-96.6-96.6c0-53.3,43.2-96.6,96.6-96.6s96.6,43.2,96.6,96.6C213.3,170.1,170.1,213.3,116.8,213.3z" />
                            <g>
                            <ellipse class="st0" cx="116.6" cy="70.8" rx="44" ry="13.3" />
                            <path class="st0" d="M72.6,80.4v15.4c29.1,14.6,58.4,15.6,88,0V80.4C131.3,93.6,102,93.6,72.6,80.4z" />
                            <path class="st0" d="M72.6,103.2v15.4c29.1,14.6,58.4,15.6,88,0v-15.4C131.3,116.5,102,116.5,72.6,103.2z" />
                            <path class="st0" d="M72.6,126.1v15.4c29.1,14.6,58.4,15.6,88,0v-15.4C131.3,139.4,102,139.4,72.6,126.1z" />
                            <path class="st0" d="M72.6,149v15.4c29.1,14.6,58.4,15.6,88,0V149C131.3,162.3,102,162.3,72.6,149z" />
                                </g>
                            </g>
                        </svg>
                        </span>
                    </button>
                </div>

            </div>
        </section>

    </div>
</section>


