@page "/ComponentsPage"

<head>
    <link rel="stylesheet" href="../css/components_style.css" />
</head>


<section id="components">
    <div class="components_container">

        <div class="component_nav">
            <div class="component_nav_container">

                <div class="top_nav">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="70px" viewBox="0 0 235 132">
                            <title>Home</title>
                            <g id="Warstwa_2" data-name="Warstwa 2">
                                <g id="Logo">
                                    <g>
                                        <polygon points="26.07 50.14 58.2 6.54 79.61 6.54 45.35 50.14 26.07 50.14" />
                                        <polygon points="83.89 11.21 73.19 25.22 92.46 92.18 101.03 75.05 83.89 11.21" />
                                        <polygon points="98.88 92.18 107.45 78.17 124.58 78.17 133.15 92.18 98.88 92.18" />
                                        <polygon points="208.1 50.14 175.98 6.54 154.56 6.54 188.83 50.14 208.1 50.14" />
                                        <polygon points="150.28 11.21 160.99 25.22 141.71 92.18 133.15 75.05 150.28 11.21" />
                                        <g>
                                            <polygon points="26.07 60.48 30.11 104.46 47.49 116.54 47.49 60.48 26.07 60.48" />
                                            <polygon points="28.56 107.46 42.53 117.46 11.48 117.46 28.56 107.46" />
                                        </g>
                                        <g>
                                            <polygon points="209.89 60.48 205.85 104.46 188.48 116.54 188.48 60.48 209.89 60.48" />
                                            <polygon points="207.4 107.46 193.43 117.46 224.48 117.46 207.4 107.46" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                </div>

                <div class="underline"></div>

                <div class="comp_nav_links">
                    <ul>
                        <li>
                            <NavLink href="/">
                                <i class="fas fa-home"></i> Home
                            </NavLink>
                        </li>

                        <h3>Blazor</h3>

                        <li>
                            <button @onclick="OpenAbout"><i class="fas fa-question"></i> About</button>
                        </li>

                        <li>
                            <button @onclick="OpenClothing"><i class="fa fa-tshirt"></i> Custom clothing</button>
                        </li>

                        <li>
                            <button @onclick="OpenLogin"><i class="fas fa-user"></i> Login Page</button>
                        </li>

                        <li>
                            <button @onclick="OpenRegister"><i class="fas fa-user-plus"></i> Register Page</button>
                        </li>

                        <li>
                            <button @onclick="OpenPost"><i class="fas fa-file-word"></i> Create Post</button>
                        </li>

                        <li>
                            <button @onclick="OpenComments"><i class="fas fa-comments"></i> Comments</button>
                        </li>

                        <li>
                            <button @onclick="OpenAccordeon"><i class="fas fa-th-list"></i> Acordeon</button>
                        </li>

                        <li>
                            <button @onclick="OpenSorting"><i class="fas fa-table"></i> Sorting Algorithms</button>
                        </li>

                        <li>
                            <button @onclick="OpenFoodOrder"><i class="fas fa-pizza-slice"></i> Custom Food Order</button>
                        </li>

                        <li>
                            <button @onclick="OpenGallery"><i class="fas fa-image"></i> Gallery</button>
                        </li>

                        <li>
                            <button @onclick="OpenCalculator"><i class="fas fa-calculator"></i> Calculator</button>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="page">
            <div class="page_container">

                @if (about)
                {
                    <AboutComponent></AboutComponent>
                }

                @if (acordeon) 
                { 
                    <Acordeon></Acordeon>
                }

                @if (comments)
                {
                    <CommentsComponent></CommentsComponent>
                }

                @if (clothing)
                {
                    <CustomClothingObject></CustomClothingObject>
                }

                @if (login)
                {
                    <LoginPage></LoginPage>
                }

                @if (post)
                {
                    <PostCreator></PostCreator>
                }

                @if (register)
                {
                    <RegisterPage></RegisterPage>
                }

                @if (sorting)
                {
                    <SortingAlgorithms></SortingAlgorithms>
                }
                @if (food_order)
                {
                    <CustomFoodOrder></CustomFoodOrder>
                }
                @if (gallery)
                {
                    <GalleryComponent></GalleryComponent>
                }
                @if (calculator)
                {
                    <Calculator></Calculator>
                }
            </div>
        </div>

    </div>
</section>

@code{
    protected bool acordeon = false;
    protected bool comments = false;
    protected bool clothing = false;
    protected bool login = false;
    protected bool post = false;
    protected bool register = false;
    protected bool sorting = false;
    protected bool food_order = false;
    protected bool gallery = false;
    protected bool calculator = false;

    protected bool about = true;

    public void CloseAll()
    {
        acordeon = false;
        comments = false;
        clothing = false;
        login = false;
        post = false;
        register = false;
        sorting = false;
        food_order = false;
        gallery = false;
        calculator = false;

        about = false;
    }

    public void OpenAccordeon() { if(acordeon == false) { CloseAll(); acordeon = true;  } }
    public void OpenComments() { if (comments == false) { CloseAll(); comments = true; } }
    public void OpenClothing() { if (clothing == false) { CloseAll(); clothing = true; } }
    public void OpenLogin() { if (login == false) { CloseAll(); login = true; } }
    public void OpenPost() { if (post == false) { CloseAll(); post = true; } }
    public void OpenRegister() { if (register == false) { CloseAll(); register = true; } }
    public void OpenSorting() { if (sorting == false) { CloseAll(); sorting = true; } }
    public void OpenFoodOrder() { if (food_order == false) { CloseAll(); food_order = true; } }
    public void OpenAbout() { if (about == false) { CloseAll(); about = true; } }
    public void OpenGallery() { if (gallery == false) { CloseAll(); gallery = true; } }
    public void OpenCalculator() { if (calculator == false) { CloseAll(); calculator = true; } }




}