@page "/Contact" 


<head>
    <link rel="stylesheet" href="../css/contact_style.css" />
</head>


<section class="contact">
    <div class="contact_container">

        <div class="left">
            <div class="left_container">
                <form action="https://formspree.io/mrgykpre" method="POST">

                    <div class="form_box">
                        <label>
                            <span>Your Name</span>
                            <span class="icon_s"><i class="fas fa-user"></i></span>
                        </label>
                        <input type="text" name="name">
                    </div>

                    <div class="form_box">
                        <label>
                            <span>Your Email</span>
                            <span class="icon_s"><i class="fas fa-inbox"></i></span>
                        </label>
                        <input type="text" name="_replyto">
                    </div>

                    <div class="form_box">
                        <label>
                            <span>Your Message</span>
                            <span class="icon_s"><i class="fas fa-envelope-open-text"></i></span>
                        </label>
                        <textarea name="message"></textarea>
                    </div>

                    <div class="button_container">
                        <button type="submit">Send</button>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="right">
            <div class="right_container">

                <div class="info_box">
                    <p><i class="fas fa-at"></i></p>
                    <p>getrajer55@gmail.com</p>
                </div>

                <div class="info_box">
                    <p><i class="fas fa-mobile-alt"></i></p>
                    <p>+44 8659859</p>
                </div>

                <div class="info_box">
                    <p><i class="fab fa-linkedin"></i></p>
                    <p>https://www.linkedin.com/in/mateusz-owczarek-21a301188/</p>
                </div>

                <div class="info_box">
                    <p><i class="fab fa-github"></i></p>
                    <p>https://github.com/Getrajer</p>
                </div>

            </div>
        </div>

    </div>
</section>
