@page "/"


<head>
    <link rel="stylesheet" href="../css/index.css" />
</head>

<section class="home_page">
    <div class="home_page_container">

        <div class="left_home">
            <div class="left_home_container">
                <div class="hello_message">
                    <h1 id="greeting">Hello</h1>
                </div>

                <div class="introduction_txt">
                    <p>
                        My name is Mateusz.
                        <br />
                        <br />
                        I produce various programming solutions, as well websites such as landing pages, fully functional <br /> e-comerces, portfolios and much more.
                    </p>
                </div>

                <div class="go_btn">
                    <NavLink href="About">See More</NavLink>
                </div>

            </div>
        </div>

        <div class="right_home">
            <div class="right_home_container">

                <div class="info_icon">
                    <div class="icon">
                        <i class="fas fa-palette"></i>
                    </div>

                    <div class="icon_descirption">
                        <p>Creativity</p>
                    </div>
                </div>


                <div class="info_icon">
                    <div class="icon">
                        <i class="fas fa-sitemap"></i>
                    </div>

                    <div class="icon_descirption">
                        <p>Solutions</p>
                    </div>
                </div>


                <div class="info_icon">
                    <div class="icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>

                    <div class="icon_descirption">
                        <p>Speed</p>
                    </div>
                </div>

                <div class="info_icon">
                    <div class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>

                    <div class="icon_descirption">
                        <p>Precission</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>













@code{
    public class MessageBoardOutput
    {
        public int Id { get; set; }
        public string Answer { get; set; }
        public string Question { get; set; }

        public MessageBoardOutput() { }
    }


    //Question lists
    protected List<MessageBoardOutput> new_questions = new List<MessageBoardOutput>();
    protected List<MessageBoardOutput> asked_questions = new List<MessageBoardOutput>();


    protected override async Task OnInitializedAsync()
    {



        MessageBoardOutput q1 = new MessageBoardOutput();
        q1.Id = 0;
        q1.Question = "What programing language is your favourite?";
        q1.Answer = "C#";

        new_questions.Add(q1);

        MessageBoardOutput q2 = new MessageBoardOutput();
        q2.Id = 1;
        q2.Question = "Any hoobies?";
        q2.Answer = "Yes, I do like reading about history, going to the gym, playing video games and study about anything interesting no matter in which field.";

        new_questions.Add(q2);

        MessageBoardOutput q3 = new MessageBoardOutput();
        q3.Id = 2;
        q3.Question = "Which book is your favorite?";
        q3.Answer = "The Witcher Saga";

        new_questions.Add(q3);

        MessageBoardOutput q4 = new MessageBoardOutput();
        q4.Id = 3;
        q4.Question = "Favorite qote?";
        q4.Answer = "When something is important enough, you do it even if the odds are not in your favor - Elon Musk";

        new_questions.Add(q4);

        MessageBoardOutput q5 = new MessageBoardOutput();
        q5.Id = 4;
        q5.Question = "What are your ambitions?";
        q5.Answer = "To be good at no matter what I am going to do.";

        new_questions.Add(q5);

        MessageBoardOutput q6 = new MessageBoardOutput();
        q6.Id = 5;
        q6.Question = "Your best treat?";
        q6.Answer = "I think is that I am good at problem solving, but I am definetly hardworking if I can say so myself.";

        new_questions.Add(q6);

        MessageBoardOutput q7 = new MessageBoardOutput();
        q7.Id = 6;
        q7.Question = "Your worst treat?";
        q7.Answer = "I would say lack of confidence, but I am definetly working on it.";

        new_questions.Add(q7);

        MessageBoardOutput q8 = new MessageBoardOutput();
        q8.Id = 7;
        q8.Question = "What is your favorite game?";
        q8.Answer = "So far it is old game called Gothic 2 Night of the Raven.";

        new_questions.Add(q8);


    }


    /// <summary>
    /// User can ask questinon
    /// </summary>
    /// <param name="id"></param>
    public void AskQuestion(int id)
    {
        asked_questions.Add(new_questions[id]);

        DeleteFromNew(id);
    }


    public void DeleteFromNew(int id)
    {
        new_questions.RemoveAt(id);

        //Reset ids
        if(new_questions.Count > 0)
        {
            for(int i = 0; i < new_questions.Count; i++)
            {
                new_questions[i].Id = i;
            }
        }
    }

}