@page "/"

<head>
    <link href="css/index.css" rel="stylesheet" />
</head>

<header>
    <div class="header_container">

        <div class="left_side">
            <div class="left_side_container">

                <div class="top_line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31.6mm" height="32.4mm" viewBox="0 0 89.57 91.84">
                        <title>Zasób 4</title>
                        <g id="Warstwa_2" data-name="Warstwa 2">
                            <g id="Warstwa_1-2" data-name="Warstwa 1">
                                <g>
                                    <rect x="43.65" y="-43.65" width="2.27" height="89.57" transform="translate(45.92 -43.65) rotate(90)" />
                                    <rect y="2.27" width="2.27" height="89.57" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>

                <div class="bottom_line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32.4mm" height="31.6mm" viewBox="0 0 91.84 89.57">
                        <title>Zasób 1</title>
                        <g id="Warstwa_2" data-name="Warstwa 2">
                            <g id="Warstwa_1-2" data-name="Warstwa 1">
                                <g>
                                    <rect width="2.27" height="89.57" />
                                    <rect x="45.92" y="43.65" width="2.27" height="89.57" transform="translate(-41.39 135.5) rotate(-90)" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>

            </div>
        </div>

        <div class="center">
            <div class="center_container">
                <div class="welcome_content">
                    <h1><span class="gold">M</span>ateusz <span class="gold">O</span>wczarek</h1>
                    <h5>Full-Stack Developer</h5>
                </div>


                <div class="media">
                    <div class="media_container">

                        <div class="medium">
                            <a target="_blank" href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>

                        <div class="medium">
                            <a target="_blank" href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <div class="medium">
                            <a target="_blank" href="#"> <i class="fab fa-github" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="right_side">
            <div class="right_side_container">

                <div class="top_line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31.6mm" height="32.4mm" viewBox="0 0 89.57 91.84">
                        <title>Zasób 3</title>
                        <g id="Warstwa_2" data-name="Warstwa 2">
                            <g id="Warstwa_1-2" data-name="Warstwa 1">
                                <g>
                                    <rect x="43.65" y="-43.65" width="2.27" height="89.57" transform="translate(45.92 -43.65) rotate(90)" />
                                    <rect x="87.31" y="2.27" width="2.27" height="89.57" transform="translate(176.88 94.11) rotate(180)" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="bottom_line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32.4mm" height="31.6mm" viewBox="0 0 91.84 89.57">
                        <title>Zasób 2</title>
                        <g id="Warstwa_2" data-name="Warstwa 2">
                            <g id="Warstwa_1-2" data-name="Warstwa 1">
                                <g>
                                    <rect x="89.57" width="2.27" height="89.57" transform="translate(181.42 89.57) rotate(-180)" />
                                    <rect x="43.65" y="43.65" width="2.27" height="89.57" transform="translate(-43.65 133.23) rotate(-90)" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>


            </div>

        </div>

    </div>
</header>

<section id="profile">
    <div class="profile_cotainer">

        <div class="title_profile">
            <h1>Talk with me</h1>
        </div>

        <div class="tablet_box">
            <TabletComponent></TabletComponent>
        </div>

    </div>
</section>

<section id="about">
    <div class="about_container">



        <div class="card_about">
            <div class="card_about_container">
                <div class="icon">
                    <div class="icon_container">
                        <i class="fas fa-user"></i>
                    </div>
                </div>

                <div class="title_container">

                    <div class="left_title">
                    </div>

                    <div class="middle_title">
                        <h2>Hi, I am Mateusz...</h2>
                    </div>

                    <div class="right_title">
                        
                    </div>

                </div>


                <div class="about_description">
                    <p>
                        ...it is nice to meet you.  I am creative, confident, naturally curious.
                        I am not afraid to take any challenge difficult or simple.
                        I would create most efficient solution to the problems while giving them some creative touch.
                    </p>
                </div>
            </div>
        </div>

        <div class="card_about">
            <div class="card_about_container">
                <div class="icon">
                    <div class="icon_container">
                        <i class="fas fa-sitemap"></i>
                    </div>
                </div>

                <div class="title_container">

                    <div class="left_title">
                    </div>

                    <div class="middle_title">
                        <h2>I create websites</h2>
                    </div>

                    <div class="right_title">
                    </div>

                </div>


                <div class="about_description">
                    <p>
                        I do create fully responsive MVC web aps.
                        They are created in .Net-Core framework.
                        I am able to create as well "static" simple websites.
                        As well I can create web apps with use of React framework.
                    </p>
                </div>
            </div>
        </div>

        <div class="card_about">
            <div class="card_about_container">
                <div class="icon">
                    <div class="icon_container">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="title_container">

                    <div class="left_title">
                    </div>

                    <div class="middle_title">
                        <h2>Get some components!</h2>
                    </div>

                    <div class="right_title">
                    </div>

                </div>


                <div class="about_description">
                    <p>
                        I do create blazor components.
                        They can be used after some adjustments.
                        You can get the code for them from my Github account.
                        I create them to show that C# with Blazor is able to create amazing and fast front-end tools.
                    </p>
                </div>
            </div>
        </div>

        <div class="card_about">
            <div class="card_about_container">
                <div class="icon">
                    <div class="icon_container">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="title_container">

                    <div class="left_title">
                    </div>

                    <div class="middle_title">
                        <h2>Need some help?</h2>
                    </div>

                    <div class="right_title">
                    </div>

                </div>


                <div class="about_description">
                    <p>
                        If you want to hire me, contract me or ask more questions contact me with use of any of my social media.
                        They are shown at the bottom of the website.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>



<section id="projects">
    <div class="projects_container">

        <div class="title">
            <div class="title_container">

                <div class="left_title">
                </div>

                <div class="middle_title">
                    <h1>Projects</h1>
                </div>

                <div class="right_title">
                </div>

            </div>
        </div>

        <div class="projects_description">
            <div class="projects_description_container">

                <div class="main_projects">
                    <div class="main_projects_container">

                        <div class="card_title">
                            <h3>Main</h3>
                        </div>


                        <div class="description">
                            <p>All of the projects I made are showing combination of my design, front-end and back skills. </p>

                            <p>I do make every project with great care and attention to detail. They are fully functional and more importantly accesible and secure.</p>

                            <p>For every project I do make a lot of information for other developers who are going to be able easly understand what code does.</p>

                            <p>Some of these are shown on my Youtube channel, so you can see the creation process. </p>

                        </div>

                        <div class="button_container">
                            <NavLink href="Projects">
                                See live
                            </NavLink>
                        </div>

                    </div>
                </div>

                <div class="components">
                    <div class="components_cotnainer">
                        <div class="card_title">
                            <h3>Components</h3>
                        </div>


                        <div class="description">
                            
                            <p>I do create components which are like small programs by themselves. </p>

                            <p>They are having some admin managment ststems which can be used with restriction to administrators.</p>

                            <p>They definetly are needed to be modified when used for your needs.</p>
                            

                        </div>

                        <div class="button_container">
                            <NavLink href="ComponentsPage">
                                See live
                            </NavLink>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<section id="contact_section">
    <div class="contact_section_container">

        <div class="title">
            <h1>Contact Me</h1>
        </div>

        <div class="contact">
            <div class="contact_container">
                <h2>Contact Info: </h2>
                <p><span class="blue">Email:</span> getrajer533@gmail.com</p>

            </div>
        </div>

        <div class="contact">
            <div class="contact_container">
                <h2>Social Media</h2>
                <p><i class="fab fa-instagram" aria-hidden="true"></i> - linkedin.com/in/mateusz-owczarek-21a301188 </p>
                <p><i class="fab fa-linkedin" aria-hidden="true"></i> - linkedin.com/in/mateusz-owczarek-21a301188 </p>
                <p><i class="fab fa-github" aria-hidden="true"></i> - https://github.com/Getrajer </p>
            </div>
        </div>

        <div class="contact">
            <div class="contact_container">
                <div class="input_box first">
                    <label>Your Email</label>
                    <input />
                </div>

                <div class="input_box">
                    <label>Message</label>
                    <textarea></textarea>
                </div>

                <div class="button_container">
                    <button>Send</button>
                </div>
            </div>
        </div>

    </div>
</section>


<footer>
    <div class="footer_container">
        <p>&copy; Mateusz Owczarek 2020</p>
    </div>
</footer>


@code{
    public class MessageBoardOutput
    {
        public int Id { get; set; }
        public string Answer { get; set; }
        public string Question { get; set; }

        public MessageBoardOutput() { }
    }


    //Question lists
    protected List<MessageBoardOutput> new_questions = new List<MessageBoardOutput>();
    protected List<MessageBoardOutput> asked_questions = new List<MessageBoardOutput>();


    protected override async Task OnInitializedAsync()
    {



        MessageBoardOutput q1 = new MessageBoardOutput();
        q1.Id = 0;
        q1.Question = "What programing language is your favourite?";
        q1.Answer = "C#";

        new_questions.Add(q1);

        MessageBoardOutput q2 = new MessageBoardOutput();
        q2.Id = 1;
        q2.Question = "Any hoobies?";
        q2.Answer = "Yes, I do like reading about history, going to the gym, playing video games and study about anything interesting no matter in which field.";

        new_questions.Add(q2);

        MessageBoardOutput q3 = new MessageBoardOutput();
        q3.Id = 2;
        q3.Question = "Which book is your favorite?";
        q3.Answer = "The Witcher Saga";

        new_questions.Add(q3);

        MessageBoardOutput q4 = new MessageBoardOutput();
        q4.Id = 3;
        q4.Question = "Favorite qote?";
        q4.Answer = "When something is important enough, you do it even if the odds are not in your favor - Elon Musk";

        new_questions.Add(q4);

        MessageBoardOutput q5 = new MessageBoardOutput();
        q5.Id = 4;
        q5.Question = "What are your ambitions?";
        q5.Answer = "To be good at no matter what I am going to do.";

        new_questions.Add(q5);

        MessageBoardOutput q6 = new MessageBoardOutput();
        q6.Id = 5;
        q6.Question = "Your best treat?";
        q6.Answer = "I think is that I am good at problem solving, but I am definetly hardworking if I can say so myself.";

        new_questions.Add(q6);

        MessageBoardOutput q7 = new MessageBoardOutput();
        q7.Id = 6;
        q7.Question = "Your worst treat?";
        q7.Answer = "I would say lack of confidence, but I am definetly working on it.";

        new_questions.Add(q7);

        MessageBoardOutput q8 = new MessageBoardOutput();
        q8.Id = 7;
        q8.Question = "What is your favorite game?";
        q8.Answer = "So far it is old game called Gothic 2 Night of the Raven.";

        new_questions.Add(q8);


    }


    /// <summary>
    /// User can ask questinon
    /// </summary>
    /// <param name="id"></param>
    public void AskQuestion(int id)
    {
        asked_questions.Add(new_questions[id]);

        DeleteFromNew(id);
    }


    public void DeleteFromNew(int id)
    {
        new_questions.RemoveAt(id);

        //Reset ids
        if(new_questions.Count > 0)
        {
            for(int i = 0; i < new_questions.Count; i++)
            {
                new_questions[i].Id = i;
            }
        }
    }

}