@page "/Projects"

<head>
    <link rel="stylesheet" href="../css/projects_style.css" />
</head>

<div class="page_container">
    <div class="title">
        <div class="title_container">
            <h1>My Work</h1>
        </div>
    </div>

    <section class="projects">

        <div class="projects_container">

            <div class="project">
                <div class="p_img">
                    <img src="../images/bank_background.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="BankAppDescription">
                                    | Bank App |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_s">
                    <p class="data"><i class="fas fa-money-bill-wave"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/Clothe.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="ClotheDescription">
                                    | Clothe Online |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_t">
                    <p class="data"><i class="fa fa-tshirt"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/data_sharp.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="DataSharpDescription">
                                    | Data Sharp |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="teaser_data_s">
                    <p class="data"><i class="fa fa-database"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/data_structures.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="DataStructuresDescription">
                                    | Data Structures |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_t">
                    <p class="data"><i class="fa fa-table"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/math_background.jpg" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="BuisnessMathDescription">
                                    | Buisness Math |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_s">
                    <p class="data"><i class="fa fa-square-root-alt"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/js_games.jpg" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="JSGamesDescription">
                                    | JS Games |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_t">
                    <p class="data"><i class="fa fa-gamepad"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/Ezsat.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="JSGamesDescription">
                                    | JS Games |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_s">
                    <p class="data"><i class="fa fa-dice-d20"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/restaurant_1.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="RestaurantDescription">
                                    | Restaurant |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_t">
                    <p class="data"><i class="fas fa-utensils"></i></p>
                </div>
            </div>

            <div class="project">
                <div class="p_img">
                    <img src="../images/coffe_1.png" />
                </div>
                <div class="p_content_box">
                    <div class="p_content">
                        <div class="p_title">
                            <h3>
                                <NavLink href="CoffeDescription">
                                    | 3D Coffe Shop |
                                </NavLink>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="teaser_data_s">
                    <p class="data"><i class="fa fa-coffee"></i></p>
                </div>
            </div>

        </div>
    </section>
</div>


