@page "/BlogEntries"

<head>
    <link rel="stylesheet" href="../css/blog_main_page_style.css" />
    <link rel="stylesheet" href="../css/blog_entries_style.css" />
</head>

<section class="blog">
    <div class="blog_container">
        <div class="sidebar_box">
            <BlogSidebar></BlogSidebar>
        </div>

        <div class="blog_page">
            <div class="blog_page_container">
                
                <div class="blog_title">
                    <div class="blog_title_container">
                        <h1>Blog entries</h1>
                    </div>
                </div>



                <section class="entries_links">
                    <div class="entries_links_container">

                        <div class="entry">
                            <div class="entry_img">
                                <img src="../images/article_img_1.jpg" />
                            </div>

                            <div class="entry_description">
                                <p>Why every restaurant needs review option set internaly on their website.</p>
                            </div>

                            <div class="blog_e_link">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                     </div>
                </section>

            </div>
        </div>
    </div>
</section>
