@page "/ImagesStock"

<head>
    <link rel="stylesheet" href="../css/blog_main_page_style.css" />
    <link rel="stylesheet" href="../css/images_categories_style.css" />
</head>

<section class="blog">
    <div class="blog_container">
        <div class="sidebar_box">
            <BlogSidebar></BlogSidebar>
        </div>

        <div class="blog_page">
            <div class="blog_page_container">
                <div class="blog_title">
                    <div class="blog_title_container">
                        <h1>Images Stock</h1>
                    </div>
                </div>

                <section class="categories">
                    <div class="categories_container">

                        <div class="category">
                            <div class="img_container">
                                <img src="../images/About_Background.svg" />
                            </div>

                            <div class="name">
                                <h3>Bacgrounds</h3>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                        <div class="category">
                            <div class="img_container">
                                <img src="../images/About_Background.svg" />
                            </div>

                            <div class="name">
                                <h3>Icons</h3>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                        <div class="category">
                            <div class="img_container">
                                <img src="../images/About_Background.svg" />
                            </div>

                            <div class="name">
                                <h3>Logos</h3>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                        <div class="category">
                            <div class="img_container">
                                <img src="../images/About_Background.svg" />
                            </div>

                            <div class="name">
                                <h3>Photoshoped Images</h3>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                        <div class="category">
                            <div class="img_container">
                                <img src="../images/About_Background.svg" />
                            </div>

                            <div class="name">
                                <h3>Other</h3>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View
                                </NavLink>
                            </div>
                        </div>

                    </div>
                </section>



            </div>
        </div>
    </div>
</section>