@page "/ProgrammingChallenges"

<head>
    <link rel="stylesheet" href="../css/blog_main_page_style.css" />
    <link rel="stylesheet" href="../css/challenges_style.css" />
</head>

<section class="blog">
    <div class="blog_container">
        <div class="sidebar_box">
            <BlogSidebar></BlogSidebar>
        </div>

        <div class="blog_page">
            <div class="blog_page_container">

                <div class="blog_title">
                    <div class="blog_title_container">
                        <h1>Challenges</h1>
                    </div>
                </div>

                <section class="challenges">
                    <div class="challenges_container">

                        <div class="challenge">
                            <div class="name">
                                <h4>Codeforces: 1341A</h4>
                                <h5>OtherName</h5>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View Problem
                                </NavLink>
                            </div>

                            <div class="link_box">
                                <NavLink href="" Match="NavLinkMatch.All">
                                    View Solution
                                </NavLink>
                            </div>
                        </div>

                    </div>
                </section>


            </div>
        </div>
    </div>
</section>