@page "/ProgrammingChallenges"

<head>
    <link rel="stylesheet" href="../css/blog_main_page_style.css" />
</head>

<section class="blog">
    <div class="blog_container">
        <div class="sidebar_box">
            <BlogSidebar></BlogSidebar>
        </div>

        <div class="blog_page">
            <div class="blog_page_container">






            </div>
        </div>
    </div>
</section>