<nav id="main_nav" class="@displayed_nav">

    <div class="toggle-button">
        @if (button_display == false)
        {
            <button @onclick="ToggleNav"><i class="fas fa-bars"></i></button>
        }
        else
        {
            <button class="x_btn" @onclick="ToggleNav">X</button>
        }
    </div>
    <div class="@display_nav">
        <div class="navigation ">

            <div class="top_nav">
                <div class="logo_l">
                    <NavLink @onclick="CloseNav" class="logo" href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="90px" height="70px" viewBox="0 0 235 132">
                            <title>Home</title>
                            <g id="Warstwa_2" data-name="Warstwa 2">
                                <g id="Logo">
                                    <g>
                                        <polygon points="26.07 50.14 58.2 6.54 79.61 6.54 45.35 50.14 26.07 50.14" />
                                        <polygon points="83.89 11.21 73.19 25.22 92.46 92.18 101.03 75.05 83.89 11.21" />
                                        <polygon points="98.88 92.18 107.45 78.17 124.58 78.17 133.15 92.18 98.88 92.18" />
                                        <polygon points="208.1 50.14 175.98 6.54 154.56 6.54 188.83 50.14 208.1 50.14" />
                                        <polygon points="150.28 11.21 160.99 25.22 141.71 92.18 133.15 75.05 150.28 11.21" />
                                        <g>
                                            <polygon points="26.07 60.48 30.11 104.46 47.49 116.54 47.49 60.48 26.07 60.48" />
                                            <polygon points="28.56 107.46 42.53 117.46 11.48 117.46 28.56 107.46" />
                                        </g>
                                        <g>
                                            <polygon points="209.89 60.48 205.85 104.46 188.48 116.54 188.48 60.48 209.89 60.48" />
                                            <polygon points="207.4 107.46 193.43 117.46 224.48 117.46 207.4 107.46" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </NavLink>
                </div>

                <div class="info">
                    <p class="name">Mateusz Owczarek</p>
                    <p>Software Engenieer</p>
                </div>
            </div>


            <div class="navigation_links">

                <div class="l_box">
                    <div class="font_aws_icon">
                        <i class="fas fa-home"></i>
                    </div>

                    <div class="link_n">
                        <NavLink @onclick="CloseNav" class="link_nav" href="/">
                            Home
                        </NavLink>
                    </div>
                </div>

                <div class="l_box">

                    <div class="font_aws_icon">
                        <i class="fas fa-user-astronaut"></i>
                    </div>

                    <div class="link_n">
                        <NavLink @onclick="CloseNav" class="link_nav" href="Projects">
                            About
                        </NavLink>
                    </div>
                </div>

                <div class="l_box">

                    <div class="font_aws_icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>

                    <div class="link_n">
                        <NavLink @onclick="CloseNav" class="link_nav" href="Projects">
                            Projects
                        </NavLink>
                    </div>
                </div>

            </div>

            <div class="work_shots">
                <div class="work_shots_container">
                    <div class="title">
                        <p>Work Shots</p>
                    </div>

                    <div class="shots">
                        <div class="shots_container">

                            <div class="shot">
                                <img src="../images/Clothe.png" alt="clothe" />
                            </div>

                            <div class="shot">
                                <img src="../images/Clothe.png" alt="clothe" />
                            </div>

                            <div class="shot">
                                <img src="../images/Clothe.png" alt="clothe" />
                            </div>

                            <div class="shot">
                                <img src="../images/Clothe.png" alt="clothe" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="media">
                <div class="media_container">

                    <div class="medium">
                        <a><i class="fab fa-linkedin-in"></i></a>
                    </div>

                    <div class="medium">
                        <a><i class="fab fa-github"></i></a>
                    </div>

                    <div class="medium">
                        <a><i class="fab fa-instagram"></i></a>
                    </div>

                </div>
            </div>


        </div>
    </div>
    
</nav>

@code{
    protected string display_nav = "display_none";
    protected string displayed_nav = "";
    protected bool button_display = false;

    public void ToggleNav()
    {
        if (display_nav == "display_none")
        {
            display_nav = "";
            displayed_nav = "nav_displayed";
            button_display = true;
        }
        else
        {
            display_nav = "display_none";
            displayed_nav = "";
            button_display = false;
        }
    }

    public void CloseNav()
    {
        display_nav = "display_none";
        button_display = false;
    }
}