body{
    font-family: 'IM Fell Great Primer SC', serif;
}
.site-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/assorted-decors-with-brown-rack-inside-store-683039.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container {
    color:  rgb(253, 253, 253);
    width: 750px;
    height: 750px;
    position: relative;
    left: 0%;
    top: 80px;

}

.swiper-slide{
    background-image: url(images/pexels-photo-172292.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5em solid rgb(51, 51, 51);

}

.swiper-content{
    height: 100%;
    width: 100%;
}

.title-container{
    margin-top: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    img{
        width: 60px;
        height: 60px;
    }
}

.icons-container{
    i{
        font-size: 1.3rem;
        margin-top: 0.5em;
    }
}

.title-underline-container{
    padding: 0 11em;
}

.underline{
    width: 100%;
    height: 2px;
    background-color: rgb(243, 243, 243);
}

.content{
    padding: 3em 3em;

    .img-container{
        width: 100%;
        border: 0.5em solid rgb(207, 207, 207);
        .image-head{
            width: 100%;
        }
    }

    .title-head-2{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 0.5em;
    }

}
@keyframes blink {50% { color: transparent }}

.swiper-sign{
    position: absolute;
    right: 0;
    bottom: -40px;
    font-size: 1.3rem;
    .arrow{
        padding: 0 1em;
        animation: 2s blink infinite
    }
}

.fa-coffee{
    animation: 2s blink infinite
}

.img-source-container{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    img{
        border: 0.5em solid rgb(207, 207, 207);

        height: 300px;
    }
}

.text-source{
    padding: 2em;
    font-size: 1.5rem;
}

#img-1{
    position: absolute;
    border: 0.2em solid rgb(207, 207, 207);

    top: 160px;
    left: 20px;

    img{
        width: 250px;
        height: 200px;
    }
    
}

#img-2{
    position: absolute;
    border: 0.2em solid rgb(207, 207, 207);

    top: 140px;
    left: 290px;

    img{
        width: 200px;
        height: 180px;
    }
}

#img-3{
    position: absolute;
    border: 0.2em solid rgb(207, 207, 207);

    top: 120px;
    left: 520px;

    img{
        width: 200px;
        height: 300px;
    }
}

#img-4{
    position: absolute;
    border: 0.2em solid rgb(207, 207, 207);

    top: 400px;
    left: 20px;

    img{
        width: 270px;
        height: 200px;
    }
    
}

#img-5{
    position: absolute;
    border: 0.2em solid rgb(207, 207, 207);

    top: 450px;
    left: 330px;

    img{
        width: 270px;
        height: 220px;
    }
    
}
.product-container{
    margin-top: 2em;
    padding: 0 0.5em;
}

.product{
    margin-top: 1em;
    border: 0.2em solid rgb(207, 207, 207);
    background-color: black;
    
}

.product-img-container{
    width: 100%;
    img{
        width: 100%;
        height: 210px;
    }
}

.black{
    color: black;
    font-size: 1.1rem;
}


.menu-buttons{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .button{
        margin-bottom: 3em;
    }

    a{
        color: white;
        background-color: rgba(95, 38, 0, 0.521);
        font-weight: 600;
        font-size: 3rem;
        padding: 0.3em;
        transition: 0.3s;

        &:hover{
            text-decoration: none;
            background-color: rgba(95, 38, 0, 1);
        }
    }
}

.form-container{
    margin-top: 6em;
    padding: 0 2em;

    label{
        font-size: 1.2rem;
    }

    .btn-primary{
        background-color: rgba(95, 38, 0, 0.521);
        transition: 0.3s;
        border: none;
        float: right;
        font-size: 2rem;

        &:hover{
            text-decoration: none;
            background-color: rgba(95, 38, 0, 1);
        }
    }
}



@media only screen and (max-width: 777px) {
    .site-container{
        width: 100%;
        height: auto;
    }

    .swiper-container {
        color:  rgb(253, 253, 253);
        width: 350px;
        min-height: 100vh;
        height: auto;
        position: relative;
        top: 10px;
    
    }

    .swiper-slide{
        min-height: 1000px;
    }
    
    .swiper-content{
        height: 100%;
        width: 100%;
    }

    .content{
        padding: 5em 0em;
    
        .img-container{
            width: 100%;
            border: none;
            .image-head{
                width: 100%;
            }
        }
    
        .title-head-2{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 2em;
        }
    
    }

    .img-source-container{
        width: 100%;
        text-align: center;
        margin-top: 1em;
        img{
            border: 0.5em solid rgb(207, 207, 207);
            width: 100%;
            height: auto;
        }
    }


    .product-img-container{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }

    .menu-buttons{
        text-align: center;
    
        .button{
            margin-bottom: 4em;
        }
    
        a{
            font-size: 2rem;
        }
    }
    

    #img-1{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;

    img{
        width: 100%;
        height: 100%;
    }
    
}

#img-2{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;

    img{
        width: 100%;
        height: 100%;
    }
}

#img-3{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;

    img{
        width: 100%;
        height: 100%;
    }
}

#img-4{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;

    img{
        width: 100%;
        height: 100%;
    }
    
}

#img-5{
    position: relative;
    display: block;
    top: 0px;
    left: 0px;

    img{
        width: 100%;
        height: 100%;
    }
    
}
}



