@page "/BuisnessMathDescription"

<head>
    <link rel="stylesheet" href="../css/project_description_style.css" />
</head>


<section class="project_description">
    <div class="project_description_container">

        <div class="title">
            <h1>Buisness Math</h1>
        </div>

        <div class="image_container">
            <img src="../images/math_background.jpg" alt="Buisness Math" />
        </div>

        <div class="type">
            <div class="type_container">

                <div class="description">
                    <h2>Math and statistics</h2>

                    <p>Thic program covers how math can be used to get information from data. Data in this program can be inputed or automaticly generated.</p>

                    <p>User is able to use mathematical formulas to calculate things like for example Standard Deviation for grouped frequency distribution and many more!</p>

                    <p>I created this program while studying buisness math and statistics.</p>

                    <p>I do have more functions not included in live presentation, but I included code on Github.</p>

                    <p>You can see website live hosted and view the code on Github.</p>

                </div>

                <div class="technologies">
                    <h3>Technologies</h3>

                    <div class="tech_icons">
                        <div class="icon_c">
                            <!--Html-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.08 100.02">
                                <title>Html</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_11" data-name="Warstwa 11">
                                        <polygon class="fill_white" points="82.55 18.5 83.55 0.5 0.55 0.5 5.55 54.5 59.55 54.5 57.55 74.5 45.55 79.5 28.55 74.5 26.55 65.5 6.55 64.5 8.55 89.5 42.55 99.5 76.55 89.5 79.55 34.5 24.55 34.5 22.55 18.5 82.55 18.5" style="stroke-miterlimit: 10" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon_c">
                            <!--CSS-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.08 100.02">
                                <title>CSS</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_11" data-name="Warstwa 11">
                                        <polygon class="fill_white" points="0.56 0.5 83.56 0.5 82.56 19.5 43.55 34.5 80.56 34.5 76.56 89.5 42.55 99.5 8.55 89.5 6.55 64.5 26.55 64.5 26.55 72.5 40.55 79.5 57.55 74.5 58.55 54.5 5.55 54.5 3.56 34.5 42.55 19.5 2.56 19.5 0.56 0.5" style="stroke-miterlimit: 10" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon_c">
                            <!--JS-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.42 99.78">
                                <title>JS</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_11" data-name="Warstwa 11">
                                        <g>
                                            <polygon class="fill_white" points="29.22 0.5 42.95 0.5 42.95 99.13 0.5 87.9 0.5 70.42 29.22 77.91 29.22 0.5" style="stroke-miterlimit: 10" />
                                            <polygon class="fill_white" points="55.44 0.5 102.88 0.5 101.63 17.98 70.42 17.98 69.17 44.2 99.13 40.45 96.64 89.15 55.44 99.13 55.44 81.66 84.15 74.16 84.15 59.18 55.44 64.17 55.44 0.5" style="stroke-miterlimit: 10" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon_c">
                            <!--C#-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.47 98.75">
                                <title>C sharp</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_11" data-name="Warstwa 11">
                                        <path class="fill_white" d="M70,36.5l21-12C80.63,8.77,67.26,1.37,51.5.56a45.44,45.44,0,0,0-9.17.49C27.49,3.33,15.52,10.31,7.4,23.64A47,47,0,0,0,1.29,40.71,52,52,0,0,0,3.64,67.6c.22.59.46,1.19.74,1.76C11,83.09,21.1,94.1,41,97.5c11.13,1.79,22.4.72,34-7a40.65,40.65,0,0,0,16-17l-21-12a28.09,28.09,0,0,1-18,12c-7.34.8-13.47-1.76-19-6-7.8-6.52-10.27-15.45-7-27,3.7-9,10-13.54,18-15C54.76,23,63,28,70,36.5Z" style="stroke-miterlimit: 10" />
                                        <rect class="fill_white" x="87.97" y="41.5" width="24" height="5" style="stroke-miterlimit: 10" />
                                        <rect class="fill_white" x="91.97" y="37.5" width="5" height="24" style="stroke-miterlimit: 10" />
                                        <rect class="fill_white" x="102.97" y="37.5" width="5" height="24" style="stroke-miterlimit: 10" />
                                        <rect class="fill_white" x="87.97" y="52.5" width="24" height="5" style="stroke-miterlimit: 10" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon_c">
                            <!--Blazor-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.26 144.76">
                                <title>Blazor</title>
                                <g id="Warstwa_2" data-name="Warstwa 2">
                                    <g id="Warstwa_12" data-name="Warstwa 12">
                                        <g>
                                            <path class="fill_white" d="M121.68,119.5c-17.82,9.45-35.95,15-54.5,15.5-20.42.66-34.6-5.58-45-16a42.48,42.48,0,0,1-13-32c0-12.26,4.38-22.61,11-32,7.39-10.21,16.16-15.86,26-18,11.85-2.12,22.67-2.35,31,2,10.58,6.36,20.31,12.81,23,20,4.88,8.55,9,16.91,8,24,.35,7.49-1,13.91-6,18-4.45,5.54-10.33,7.8-18,6l-8-6-7.92,4.32a20.6,20.6,0,0,1-7.56,2.4,43.81,43.81,0,0,1-6.05.26,20.93,20.93,0,0,1-13.73-5.45,30.05,30.05,0,0,1-4.56-5.44A21,21,0,0,1,33,85.42c0-4.84.8-8.4,2.39-10.51.58-.76,1.18-1.49,1.7-2.3,2.65-4.12,10.33-9.72,10.7-9.94l.24-.15a20,20,0,0,1,9.32-2.85,124.91,124.91,0,0,1,12.84,0,11.82,11.82,0,0,1,8.06,3.71,6.85,6.85,0,0,1,2,3.58l1,25c5.85,8,11.55,9.44,17-1l-1-16c-.52-6.54-4.4-12.43-10-18-5.63-6-13-9.57-22-11-9.42.18-18.34,1-25,5-6.71,3.78-12.44,8.42-16,15-2.8,6.38-4.82,13-5,20,.4,6.47,1.43,12.17,4,16,7.79,10.59,16.7,19.52,30,22a76.6,76.6,0,0,0,28,0c16.2-3.43,29.76-9.53,41-18a100.27,100.27,0,0,0,28-34c4-6,6.33-14.52,8-24,1.55-7.33,1.32-15.42,0-24l-8-24c-8.36,16.43-21.22,27.65-40,32l6-24-29,17h-35C21.46,29,9.11,44.7,2.68,64c-.56,1.7-5.42,28.7-.5,42,5.89,17.15,15.08,28.41,28,33,11.49,5.29,23.87,6.62,36.73,5.27,1.34-.14,2.69-.24,4-.28,8.93-.29,18.5-3.74,28.23-8Z" />
                                            <path class="fill_white" d="M70.18,71l1,20c-22.62,25.21-42.29-9-19-20Z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="links">
                    <h3>Links</h3>
                    <NavLink href="MathMain">
                        See Live
                    </NavLink>
                    <a target="_blank" href="https://github.com/Getrajer/Buissness-Math-Core-Unfinished-Description-/tree/master/MathDungeonBlazor"> <i class="fab fa-github" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>